@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #666;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

select, input, button, textarea {
  display: block;
  box-sizing: border-box;
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #666;
}

embed, object {
  position: absolute;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

strong {
  font-weight: bold;
}

/*
 * common layout style of page
 */
html.map {
  overflow-y: hidden;
}
html.map .wrapper {
  width: auto;
}
html.map .header-logo,
html.map .footer-logo {
  padding-left: 20px;
}
html.map .footer-content {
  padding-right: 20px;
}

.wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 1000px;
}
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* header */
.header {
  height: 70px;
  background-color: #ffffff;
  min-width: 1000px;
  position: relative;
  z-index: 1000;
}
.header-logo {
  float: left;
  margin: 15px 0 0 0;
}
.header-gnb {
  float: right;
  margin: 31px 205px 0 0;
}
.header-gnb .gnb-item {
  position: relative;
  float: left;
  margin-right: 5px;
}
.header-gnb .gnb-main-link {
  display: block;
  height: 28px;
  position: relative;
  line-height: 28px;
  padding: 0 17px;
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}
.header-gnb .gnb-main-link:hover, .header-gnb .gnb-main-link.on {
  color: #ffffff;
  background: url(../images/bg_gnb.png) no-repeat;
}
.header-gnb .gnb-main-link:hover:after, .header-gnb .gnb-main-link.on:after {
  content: "";
  display: block;
  width: 15px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/bg_gnb.png) no-repeat right top;
}
.header-gnb .gnb-sub-wrap {
  display: none;
  width: 126px;
  position: absolute;
  left: 50%;
  margin-left: -64px;
  padding-top: 20px;
  background: url(../images/bg_gnb_sub.png) no-repeat;
}
.header-gnb .gnb-sub-wrap:after {
  content: "";
  display: block;
  width: 126px;
  height: 14px;
  background: url(../images/bg_gnb_sub.png) no-repeat left bottom;
}
.header-gnb .gnb-sub-wrap.on {
  display: block;
}
.header-gnb .gnb-sub-wrap.narrow {
  width: 81px;
  margin-left: -40px;
  background: url(../images/bg_gnb_sub_narrow.png) no-repeat;
}
.header-gnb .gnb-sub-wrap.narrow:after {
  background: url(../images/bg_gnb_sub_narrow.png) no-repeat left bottom;
}
.header-gnb .gnb-sub-item {
  padding-left: 20px;
  margin-bottom: 15px;
}
.header-gnb .gnb-sub-item.last {
  margin-bottom: 0;
}
.header-gnb .gnb-sub-link {
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #555;
}
.header-gnb .gnb-sub-link:hover, .header-gnb .gnb-sub-link.on {
  color: #25aae1;
}
.header-util {
  position: absolute;
  top: 10px;
  right: 215px;
}
.header-util .util-item {
  position: relative;
  float: left;
  margin-left: 13px;
  padding-right: 13px;
}
.header-util .util-item.last:after {
  display: none;
}
.header-util .util-item:after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  position: absolute;
  top: 4px;
  right: 0;
  background: #ddd;
}
.header-util .util-link {
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #888;
}
.header-util .util-link:hover {
  color: #25aae1;
}
.header-my {
  width: 192px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  background: #25aae1;
}
.header-my-title {
  display: inline-block;
  width: 192px;
  height: 70px;
  position: relative;
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  line-height: 70px;
}
.header-my-title .typo {
  display: inline-block;
  padding-left: 42px;
  background: url(../images/icon_mychamp.png) no-repeat 0 18px;
}
.header-my-sub {
  display: none;
  width: 388px;
  height: 337px;
  position: absolute;
  top: 70px;
  right: 0;
  padding: 15px 20px;
  border: 3px solid #25aae1;
  background: #ffffff;
}
.header-my-sub.on {
  display: block;
}
.header-my-member {
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d8d8;
}
.header-my-member .member-name {
  height: 45px;
  padding-left: 56px;
  float: left;
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #222;
  line-height: 45px;
  background: url(../images/icon_user.png) no-repeat;
}
.header-my-member .member.login, .header-my-member .member.logout {
  display: block;
  position: relative;
  float: right;
  padding-top: 25px;
  margin-top: 5px;
  border: 0;
  background: 0;
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #666;
}
.header-my-member .member.login:after, .header-my-member .member.logout:after {
  content: "";
  display: block;
  width: 21px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -8px;
  background: url(../images/icon_log_io.png) no-repeat 0 0;
}
.header-my-member .member.logout:after {
  background-position: 0 -22px;
}
.header-my-member:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.header-my-info {
  padding: 30px 10px 22px;
  border-bottom: 1px solid #d8d8d8;
}
.header-my-info .info-list {
  float: left;
  margin-right: 35px;
}
.header-my-info .info-list.last {
  margin: 0;
}
.header-my-info .info-link {
  display: block;
  position: relative;
  padding-top: 30px;
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #222;
}
.header-my-info .info-link:hover {
  color: #25aae1;
}
.header-my-info .info-link:after {
  content: "";
  display: block;
  width: 34px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -17px;
  background: url(../images/icon_mychamp_sub.png) no-repeat;
}
.header-my-info .info-link.info-modify:after {
  background-position: 0 0;
}
.header-my-info .info-link.info-modify:hover:after {
  background-position: -35px 0;
}
.header-my-info .info-link.info-goods:after {
  background-position: 0 -23px;
}
.header-my-info .info-link.info-goods:hover:after {
  background-position: -35px -23px;
}
.header-my-info .info-link.info-payment:after {
  background-position: 0 -46px;
}
.header-my-info .info-link.info-payment:hover:after {
  background-position: -35px -46px;
}
.header-my-info .info-link.info-usage:after {
  background-position: 0 -69px;
}
.header-my-info .info-link.info-usage:hover:after {
  background-position: -35px -69px;
}
.header-my-info:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.header-my-history {
  margin-top: 20px;
}
.header-my-history:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.header-my-history .history-list {
  float: left;
  margin-bottom: 5px;
}
.header-my-history .history-list.odd {
  margin-right: 6px;
}
.header-my-history .history-link {
  display: block;
  width: 145px;
  height: 32px;
  position: relative;
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #222;
  line-height: 32px;
  text-align: left;
  padding-left: 44px;
  border: 1px solid #d8d8d8;
}
.header-my-history .history-link:hover {
  color: #25aae1;
  border-color: #25aae1;
}
.header-my-history .history-link:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 9px;
  left: 20px;
  background: url(../images/icon_mychamp_sub.png) no-repeat;
}
.header-my-history .history-link.notice:after {
  background-position: 0 -97px;
}
.header-my-history .history-link.notice:hover:after {
  background-position: -20px -97px;
}
.header-my-history .history-link.for-sale:after {
  background-position: 0 -172px;
}
.header-my-history .history-link.for-sale:hover:after {
  background-position: -20px -172px;
}
.header-my-history .history-link.for-sale-current:after {
  background-position: 0 -115px;
}
.header-my-history .history-link.for-sale-current:hover:after {
  background-position: -20px -115px;
}
.header-my-history .history-link.for-sale-favorite:after {
  background-position: 0 -192px;
}
.header-my-history .history-link.for-sale-favorite:hover:after {
  background-position: -20px -192px;
}
.header-my-history .history-link.search-current:after {
  background-position: 0 -134px;
}
.header-my-history .history-link.search-current:hover:after {
  background-position: -20px -134px;
}
.header-my-history .history-link.search-call:after {
  background-position: 0 -153px;
}
.header-my-history .history-link.search-call:hover:after {
  background-position: -20px -153px;
}
.header-my-history .history-link.mediation:after {
  background-position: 0 -210px;
}
.header-my-history .history-link.mediation:hover:after {
  background-position: -20px -210px;
}
.header-my-history .history-link.inquiry:after {
  background-position: 0 -229px;
}
.header-my-history .history-link.inquiry:hover:after {
  background-position: -20px -229px;
}

/* navigation lnb */
.lnb {
  min-width: 1000px;
  height: 50px;
  background: #ededed;
}
.lnb-list {
  height: 50px;
  float: left;
  padding-left: 20px;
  line-height: 50px;
}
.lnb-list:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.lnb-list.yellow .lnb-link:hover, .lnb-list.yellow .lnb-link.on {
  color: #fcb040;
}
.lnb-item {
  position: relative;
  float: left;
  margin-right: 18px;
}
.lnb-link {
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #a1b0b6;
}
.lnb-link:hover, .lnb-link.on {
  color: #25aae1;
}
.lnb-util {
  float: right;
}
.lnb-util:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.lnb-util .view {
  height: 50px;
  float: left;
  padding-right: 15px;
  line-height: 50px;
}
.lnb-util .view-item {
  position: relative;
  float: left;
  margin-left: 3px;
}
.lnb-util .view-item:first-child {
  margin-left: 0;
}
.lnb-util .view-link {
  display: inline-block;
  height: 20px;
  position: relative;
  line-height: 20px;
  padding: 0 10px;
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #555;
}
.lnb-util .view-link:hover, .lnb-util .view-link.on {
  color: #e70000;
  background: url(../images/bg_lnb_util.png) no-repeat;
}
.lnb-util .view-link:hover:after, .lnb-util .view-link.on:after {
  content: "";
  display: block;
  width: 10px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/bg_lnb_util.png) no-repeat right top;
}
.lnb-util .social {
  height: 50px;
  float: left;
  padding-right: 20px;
  line-height: 50px;
}
.lnb-util .social-item {
  position: relative;
  float: left;
  margin-right: 20px;
}
.lnb-util .social-link {
  display: inline-block;
  height: 20px;
  position: relative;
  padding-left: 20px;
  line-height: 20px;
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #555;
}
.lnb-util .social-link:after {
  content: "";
  display: block;
  width: 20px;
  height: 13px;
  position: absolute;
  top: 4px;
  left: 0;
  background: url(../images/icon_social.png) no-repeat;
}
.lnb-util .social-link.search-recent:after {
  background-position: -21px 0;
}
.lnb-util .social-link.on {
  color: #e70000;
}
.lnb-util .social-link.on:after {
  background-position: 0 -14px;
}
.lnb-util .social-link.on.search-recent:after {
  background-position: -21px -14px;
}
.lnb-util-btns {
  padding-top: 10px;
}

/* contents */
.contents {
  min-width: 1000px;
  min-height: 300px;
  position: relative;
}
.contents.top-border {
  border-top: 2px solid #25aae1;
}
.contents-title {
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #222;
  margin: 35px 0 32px;
}
<<<<<<< HEAD
.contents-title-wrap {
  margin: 0 0 32px;
}
.contents-title.has-description {
  margin: 35px 0 0 0;
}
.contents-title-desc {
  margin: 15px 0 0 0;
  font-size: 16px;
=======
.contents-top-util {
  position: absolute;
  top: 3px;
  right: 0;
>>>>>>> d139bbb95d54a1889de150a90f9e5c4e79a3a98b
}
.contents-mid:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.contents-part .part-top {
  margin: 30px 0 15px;
}
.contents-part .part-top:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.contents-part .part-top.no-top {
  margin-top: 0;
}
.contents-part .part-top.no-bottom {
  margin-bottom: 0;
}
.contents-part .part-title {
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #222;
  margin-bottom: 12px;
}
.contents-part .part-subtitle {
  margin-top: 7px;
}
.contents-part .part-mid:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.contents-part .part-mid.border-bottom {
  border-bottom: 1px solid #222;
}
.contents-part .part-mid-title {
  margin: 20px 0 15px;
}
.contents-part .part-mid .list-description {
  margin-bottom: 10px;
}
.contents-part .part-bottom {
  margin: 30px 0 100px;
  text-align: center;
}
.contents-part .part-bottom:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.contents-part .part-bottom.no-top {
  margin-top: 0;
}
.contents-part .part-bottom.no-bottom {
  margin-bottom: 0;
}
.contents-mid.has-bottom {
  padding-bottom: 100px;
}
.contents-bottom.has-bottom {
  padding-bottom: 100px;
}

/* footer */
.footer {
  background: #ddd;
  min-width: 1000px;
  padding: 32px 0;
}
.footer-logo {
  float: left;
}
.footer-content {
  float: right;
  margin-left: 10px;
}
.footer-menu {
  margin-bottom: 10px;
}
.footer-menu .menu-item {
  position: relative;
  float: left;
  margin-left: 10px;
  padding-right: 11px;
}
.footer-menu .menu-item:after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  position: absolute;
  top: 3px;
  right: 0;
  background: #555;
}
.footer-menu .menu-item.first {
  margin-left: 0;
}
.footer-menu .menu-item.last:after {
  display: none;
}
.footer-menu .menu-link {
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #555;
}
.footer-menu .menu-link:hover {
  color: #3e8aad;
}
.footer-menu:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.footer-address, .footer-license {
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #888;
  margin-bottom: 5px;
}
.footer-address .item, .footer-license .item {
  float: left;
  margin-right: 15px;
}
.footer-address .item.last, .footer-license .item.last {
  margin: 0;
}
.footer-address:after, .footer-license:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.footer-license {
  margin-bottom: 10px;
}
.footer-copyright {
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #888;
}
.footer-copyright .co-name {
  color: #3e8aad;
}

.submit-btns {
  margin-top: 55px;
}
.submit-btns.center {
  text-align: center;
}
.submit-btns.left {
  text-align: left;
}
.submit-btns.right {
  text-align: right;
}
.submit-btns .btn-fill {
  display: inline-block;
  margin: 0 3px;
}

/*
 * table module style
 */
.vt-table {
  width: 100%;
  border-top: 2px solid #222;
  table-layout: fixed;
}
.vt-table caption {
  display: none;
}
.vt-table th {
  height: 50px;
  position: relative;
  font-weight: bold;
  color: #222;
  line-height: 1.3;
  text-align: center;
  border-bottom: 1px solid #222;
}
.vt-table th.chkbox {
  line-height: 0;
}
.vt-table th.center {
  padding: 0;
  text-align: center;
}
.vt-table td {
  position: relative;
  padding: 20px 0 20px 10px;
  border-bottom: 1px solid #d8d8d8;
  color: #666;
}
.vt-table td.center {
  padding-left: 0;
  text-align: center;
}
.vt-table td.top {
  vertical-align: top;
}
.vt-table td .td-link {
  color: #666;
}
.vt-table td .td-link:hover {
  text-decoration: underline;
}
.vt-table .td-inner {
  margin-top: 2px;
  line-height: 1.4;
}
.vt-table .td-inner:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.vt-table .td-inner:first-child {
  margin-top: 0;
}
.vt-table.popup-table {
  border-top: 0;
}
.vt-table.popup-table th {
  height: 40px;
  background: #fafafa;
  border-bottom: 1px solid #d8d8d8;
}
.vt-table.popup-table td {
  padding: 15px 0;
  text-align: center;
}
.vt-table.popup-table.style2 {
  margin-top: 30px;
  border-top: 2px solid #282828;
}
.vt-table.popup-table.style2 th, .vt-table.popup-table.style2 td {
  padding: 8px;
  border: 1px solid #d8d8d8;
}
.vt-table.popup-table.style2 th.has-unit, .vt-table.popup-table.style2 td.has-unit {
  padding: 8px 0 8px 8px;
}

.hr-table {
  width: 100%;
  table-layout: fixed;
  border-top: 2px solid #222;
  border-bottom: 1px solid #222;
}
.hr-table th {
  height: 57px;
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  color: #222;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background: #f9f9f9;
}
.hr-table th:first-child {
  border-left: 0;
}
.hr-table th.last {
  border-bottom: 0;
}
.hr-table th.left-border {
  border-left: 1px solid #d8d8d8;
}
.hr-table th.center {
  padding: 0;
  text-align: center;
}
.hr-table td {
  height: 57px;
  padding-left: 10px;
  font-weight: bold;
  color: #666;
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
}
.hr-table td.td-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.hr-table td.last {
  border-bottom: 0;
}
.hr-table td.center {
  padding: 0;
  text-align: center;
}
.hr-table td .input.full-width,
.hr-table td .textarea.full-width {
  width: 95%;
}

.detail-header.table {
  width: 100%;
}
.detail-header.table td {
  border: 1px solid #ddd;
}

.detail-table {
  border-top: 1px solid #25aae1;
  border-right: 1px solid #d8d8d8;
  border-bottom: 0;
  border-collapse: separate;
}
.detail-table th,
.detail-table td {
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
}
.detail-table th:first-child,
.detail-table td:first-child {
  border-left: 1px solid #d8d8d8;
}
.detail-table th.em-red,
.detail-table td.em-red {
  color: #ed1c24;
}
.detail-table th.em-dark,
.detail-table td.em-dark {
  color: #222;
}
.detail-table th.center,
.detail-table td.center {
  padding-left: 0;
  text-align: center;
}
.detail-table th {
  height: 42px;
}
.detail-table th.interior-info-table-th {
  padding: 0;
  text-align: center;
}
.detail-table td {
  padding-top: 0;
  padding-bottom: 0;
  height: 42px;
  font-weight: normal;
}
.detail-table td.interior-info-table-td {
  padding: 20px 15px;
}
.detail-table .bg {
  background: #f9f9f9;
}

.thumb-mini {
  margin: 0 auto;
  width: 68px;
  height: 68px;
  border: 1px solid #d8d8d8;
}
.thumb-mini-img {
  width: 68px;
  height: 68px;
}

.price-box {
  display: inline-block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  color: #25aae1;
  text-align: center;
  font-weight: bold;
  border: 1px solid #cbcbcb;
}
.price-box.yellow {
  color: #fcb040;
}

.list-img {
  position: relative;
  display: inline-block;
  margin: 20px 0;
  width: 177px;
  height: 129px;
}
.list-img-list .slidesjs-navigation {
  position: absolute;
  top: 53px;
  width: 13px;
  height: 24px;
  z-index: 11;
  text-indent: -9999px;
}
.list-img-list .slidesjs-previous {
  left: 10px;
  background: url(../images/bg_arrow_img_nav.png) no-repeat;
}
.list-img-list .slidesjs-next {
  right: 10px;
  background: url(../images/bg_arrow_img_nav.png) no-repeat 100% 0;
}
.list-img-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 26px;
  background: url(../images/bg_list_img_info.png);
  z-index: 20;
}
.list-img-info-num {
  float: left;
  margin: 8px 0 0 12px;
  padding-left: 15px;
  line-height: 1;
  color: #ffffff;
  font-size: 10px;
  background: url(../images/icon_list_img_info.png) no-repeat 0 1px;
}
.list-img-info-day {
  float: right;
  margin: 8px 12px 0 0;
  padding-left: 15px;
  line-height: 1;
  color: #ffffff;
  font-size: 10px;
  background: url(../images/icon_list_img_info.png) no-repeat 0 -37px;
}

.list-item-type {
  width: 58px;
  height: 16px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
.list-item-type.red {
  border: 1px solid #ed1c24;
  color: #ed1c24;
}
.list-item-type.yellow {
  border: 1px solid #fcb040;
  color: #fcb040;
}
.list-item-type.purple {
  border: 1px solid #7030a0;
  color: #7030a0;
}
.list-item-type.green {
  border: 1px solid #92d050;
  color: #92d050;
}
.list-item-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
}
.list-item-detail {
  margin-top: 7px;
  line-height: 1.4;
  color: #999;
}
.list-item-price {
  display: inline-block;
  padding-right: 25px;
  font-size: 19px;
  font-weight: bold;
  color: #25aae1;
  background: url(../images/icon_round_down.png) no-repeat 100% 2px;
}
.list-item-data {
  position: relative;
  margin-top: 5px;
  padding-left: 12px;
  color: #666;
}
.list-item-data:first-child {
  margin-top: 0;
}
.list-item-data:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  width: 2px;
  height: 2px;
  background: #666;
}
.list-item-more {
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
  padding-right: 10px;
  color: #a1b0b6;
  font-size: 11px;
  border: 0;
  background: url(../images/icon_arrow_down.png) no-repeat 100% 50%;
}
.list-item-dealtype {
  display: inline-block;
  width: 50px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background: #a1b0b6;
}
.list-item-user {
  font-weight: bold;
  color: #666;
}
.list-item-btn.heart {
  padding: 0;
  width: 11px;
  height: 10px;
  text-indent: -9999px;
  border: 0;
  background: url(../images/icon_list_action.png) no-repeat;
}
.list-item-btn.heart.on {
  background-position: 0 -20px;
}
.list-item-btn.del {
  padding: 0;
  width: 14px;
  height: 11px;
  text-indent: -9999px;
  border: 0;
  background: url(../images/icon_list_action.png) no-repeat 100% 0;
}

/* scrollable table : S */
.scroll-table {
  width: 100%;
}
.scroll-table-head {
  border-top: 2px solid #222;
  border-bottom: 1px solid #222;
}
.scroll-table-head:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.scroll-table-head-item {
  float: left;
  height: 31px;
  line-height: 31px;
  text-align: center;
  color: #222;
  font-size: 12px;
  font-weight: bold;
}
.scroll-table-body {
  padding: 10px 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.scroll-table-tr:hover {
  background: #f4fbfd;
}
.scroll-table-td {
  padding: 4px 0;
  text-align: center;
  font-size: 12px;
}
.scroll-table-td.right {
  padding-right: 5px;
  text-align: right;
}

/* scrollable table : E */
.td-multi-line {
  margin-top: 10px;
}
.td-multi-line:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.td-multi-line:first-child {
  margin-top: 0;
}

.table-more:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/*
 * common form style
 */
.input {
  width: 240px;
  height: 37px;
  padding-left: 5px;
  color: #666;
  border: 1px solid #cbcbcb;
  box-sizing: border-box;
}
.input-wrap {
  position: relative;
}
.input.mini {
  width: 50px;
}
.input.small {
  width: 60px;
}
.input.med {
  width: 80px;
}
.input.med-half {
  width: 90px;
}
.input.half-width {
  width: 115px;
}
.input.double {
  width: 490px;
}
.input.full-width {
  width: 100%;
}
.input.pwd {
  background: url(../images/msg_form_pwd.png) no-repeat 5px 11px;
}
.input.pwd.focus {
  background: none;
}
.input.pwd-confirm {
  background: url(../images/msg_form_pwd.png) no-repeat 5px -48px;
}
.input.pwd-confirm.focus {
  background: none;
}
.input.gray-bg {
  background-color: #f9f9f9;
}
.input.join-reason {
  width: 330px;
}
.input.search-option-full {
  width: 100%;
}
.input.search-option-fromto {
  padding-right: 5px;
  width: 210px;
  text-align: right;
}
.input.sort-detail-fromto {
  padding-right: 5px;
  width: 135px;
  text-align: right;
}
.input.search-interior-normal {
  width: 130px;
}
.input.search-interior-full {
  width: 810px;
}

.select {
  border: 1px solid #CDCDCD;
  background: #FFFFFF;
  position: relative;
  /* Items box */
}
.select-wrapper {
  width: 240px;
  position: relative;
  cursor: pointer;
}
.select-wrapper.popup-select-width {
  width: 105px;
}
.select-wrapper.half-width {
  width: 115px;
}
.select-wrapper.plus-half-width {
  width: 365px;
}
.select-wrapper.sort-wide {
  width: 164px;
}
.select-wrapper.sort-normal {
  width: 106px;
}
.select-wrapper.search-med {
  width: 88px;
}
<<<<<<< HEAD
.select-wrapper.med-half {
  width: 90px;
}
.select-wrapper.small {
  width: 60px;
}
.select-wrapper.mini {
  width: 50px;
=======
.select-wrapper.search-interior-normal {
  width: 130px;
}
.select-wrapper.search-interior-wide {
  width: 390px;
>>>>>>> d139bbb95d54a1889de150a90f9e5c4e79a3a98b
}
.select .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 25px 0 10px;
  font-size: 12px;
  line-height: 35px;
  color: #666666;
  height: 35px;
}
.select .label.narrow {
  margin: 0 25px 0 5px;
}
.select .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 25px;
  height: 38px;
  color: #999999;
  text-align: center;
  font: 0/0 a;
  *font: 38px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.select .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #999999;
  border-bottom: none;
}
.select-items {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #C4C4C4;
  z-index: 90;
  box-shadow: 0 0 10px -6px;
  box-sizing: border-box;
  overflow: auto;
  max-height: 192px;
}
.select-items.on {
  display: block;
}
.select-items .select-scroll {
  height: 100%;
  overflow: auto;
}
.select-above .select-items {
  top: auto;
  bottom: 100%;
}
.select-items ul, .select-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}
.select-items li {
  display: block;
  padding: 8px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #EEE;
  color: #666;
  cursor: pointer;
}
.select-items li.selected {
  background: #EFEFEF;
  color: #444;
}
.select-items li:hover {
  background: #F0F0F0;
  color: #444;
}
.select-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 5px;
  color: #666;
  border: 1px solid #cbcbcb;
}

.btn-fill {
  width: 195px;
  height: 40px;
  font-size: 16px;
  color: #ffffff;
  line-height: 38px;
  border: 0;
  background: #666;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
}
.btn-fill.blue {
  background: #25aae1;
}
.btn-fill.yellow {
  background: #fcb040;
}
.btn-fill.left {
  margin-right: 7px;
}
.btn-fill.btn-inline {
  margin-left: 10px;
  padding: 0 10px;
  width: auto;
  height: auto;
  font-size: inherit;
  line-height: inherit;
}
.btn-med {
  width: 112px;
  height: 29px;
  font-size: 13px;
  color: #ffffff;
  line-height: 29px;
  border: 0;
  background: #666;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
}
.btn-med.gray {
  background: #626c7d;
}
.btn-med.darkblue {
  background: #006092;
}
.btn-med.orange {
  background: #ff6317;
}
.btn-med.yellow {
  background: #fcb040;
}
.btn-med.icon-plus {
  padding: 0 0 0 38px;
  text-align: left;
  background: #626c7d url(../images/icon_plus.png) no-repeat 22px 50%;
}
.btn-med.icon-plus.interior-add {
  padding: 0 0 0 27px;
  background-position: 9px 50%;
}
.btn-med.icon-gear {
  padding: 0 0 0 27px;
  text-align: left;
  background: #626c7d url(../images/icon_gear02.png) no-repeat 9px 50%;
}
.btn-join {
  width: 126px;
  height: 28px;
  font-size: 14px;
  color: #666;
  line-height: 25px;
  border: 1px solid #666;
  background: #ffffff;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.btn-join:hover {
  color: #ffffff;
  border-color: #25aae1;
  background: #25aae1;
}
.btn-calendar {
  width: 14px;
  height: 30px;
  text-indent: -99999em;
  border: 0;
  background: url(../images/icon_btn_calendar.gif) no-repeat;
}
.btn-table-setting {
  width: 23px;
  height: 22px;
  float: right;
  text-indent: -99999em;
  border: 0;
  background: url(../images/btn_tb_setting.png);
}
.btn-form {
  width: 115px;
  height: 37px;
  font-size: 13px;
  color: #ffffff;
  line-height: 34px;
  border: 0;
  background: #666;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
}
.btn-login-fb {
  width: 134px;
  height: 37px;
  font-size: 13px;
  color: #ffffff;
  line-height: 37px;
  border: 0;
  background: #3c5b9b;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  padding-left: 32px;
  text-align: left;
  background: #3c5b9b url(../images/icon_fb.png) no-repeat 14px 9px;
}
.btn-login-naver {
  width: 134px;
  height: 37px;
  font-size: 13px;
  color: #ffffff;
  line-height: 37px;
  border: 0;
  background: #2db400;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  padding-left: 46px;
  text-align: left;
  background: #2db400 url(../images/icon_naver.png) no-repeat 19px 11px;
}
.btn-view-all-list {
  width: 88px;
  height: 27px;
  font-size: 13px;
  color: #ffffff;
  line-height: 25px;
  border: 0;
  background: #25aae1;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  padding-left: 26px;
  background: #25aae1 url(../images/icon_all_list.png) no-repeat 10px 50%;
}
.btn-table-function {
  display: inline-block;
  padding: 0 2px;
  height: 18px;
  color: #666;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
}
.btn-table-function.wide {
  width: 112px;
}
.btn-table-function.half {
  width: 55px;
}
.btn-table-function.left-float {
  margin-right: 2px;
}
.btn-table-change-price {
  display: inline-block;
  width: 80px;
  height: 16px;
  line-height: 1;
  color: #ffffff;
  background: #999;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border: 0;
}
.btn-function {
  padding: 0 2px;
  height: 26px;
  line-height: 25px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  background: #999;
}
.btn-function.left-float.left {
  margin-right: 5px;
}
.btn-function.left-float.right {
  margin-left: 5px;
}
.btn-function .right-float.left {
  margin-right: 5px;
}
.btn-function .right-float.right {
  margin-left: 5px;
}
.btn-cal-term {
  float: left;
  margin-left: 8px;
  padding: 0;
  box-sizing: border-box;
  width: 64px;
  height: 37px;
  text-align: center;
  border: 1px solid #cbcbcb;
  color: #999;
  background: none;
}
.btn-cal-term:first-child {
  margin-left: 0;
}
.btn-cal-term.blue {
  color: #25aae1;
  border-color: #25aae1;
}
.btn-cal-term.yellow {
  color: #fcb040;
  border-color: #fcb040;
}
.btn-list-compare, .btn-list-unit, .btn-list-loc-search, .btn-list-loc-reset, .btn-list-loc-close {
  float: left;
  margin-right: 6px;
  padding: 0;
  padding-left: 27px;
  width: 88px;
  height: 27px;
  border: 0;
  color: #ffffff;
  text-align: left;
}
.btn-list-compare {
  background: #25aae1 url(../images/icon_compare.png) no-repeat 10px 50%;
}
.btn-list-unit {
  background: #25aae1 url(../images/icon_unit.png) no-repeat 10px 50%;
}
.btn-list-loc-search {
  display: inline-block;
  float: none;
  margin: 0 3px;
  padding-left: 35px;
  background: #fcb040 url(../images/icon_loc_btn.png) no-repeat 23px 8px;
}
.btn-list-loc-reset {
  display: inline-block;
  float: none;
  margin: 0 3px;
  background: #666 url(../images/icon_loc_btn.png) no-repeat 10px -27px;
}
.btn-list-loc-close {
  display: inline-block;
  float: none;
  margin: 0 3px;
  padding-left: 35px;
  background: #666 url(../images/icon_loc_btn.png) no-repeat 23px -61px;
}
.btn-small {
  height: 26px;
  padding: 0 5px;
  color: #ffffff;
  border: 0;
  background: #666;
}
.btn-small.blue {
  background: #25aae1;
}
.btn-item-submit {
  padding-left: 52px;
  text-align: left;
  background: #25aae1 url(../images/icon_save.png) no-repeat 30px 13px;
}
.btn-item-submit.yellow {
  background: #fcb040 url(../images/icon_save.png) no-repeat 30px 13px;
}
.btn-table-more {
  width: 90px;
  padding-left: 15px;
  text-align: left;
  background: #25aae1 url(../images/bg_btn_toggle_white.png) no-repeat 60px -82px;
}
.btn-table-more.on {
  background-position: 60px 9px;
}
.btn-table-more.yellow {
  background-color: #fcb040;
}

.check-wrap {
  position: relative;
}
.check-wrap.center {
  display: inline-block;
}
.check-box {
  position: absolute;
  top: 3px;
  left: 1px;
  margin: 0;
  padding: 0;
}
.check-box:checked + .check-label:before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  z-index: 10;
  top: 7px;
  left: 5px;
  background: #222;
}
.check-box:disabled + .check-label:after {
  background: #ddd;
}
.check-label {
  display: block;
  height: 20px;
  line-height: 19px;
  padding-left: 26px;
  color: #666;
}
.check-label.blind {
  padding-left: 18px;
  width: 0;
  text-indent: -99999em;
  overflow: hidden;
}
.check-label:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 0;
  border: 1px solid #cbcbcb;
  background: #ffffff;
  box-sizing: border-box;
}
.check-label-blank {
  width: 0;
  padding-left: 20px;
  text-indent: -9999px;
}

.radio {
  position: absolute;
  top: 1px;
  left: 1px;
  margin: 0;
}
.radio-wrap {
  position: relative;
}
.radio-wrap.center {
  display: inline-block;
}
.radio-label {
  display: block;
  height: 20px;
  line-height: 19px;
  padding-left: 30px;
  color: #666;
}
.radio-label.blind {
  padding-left: 20px;
  width: 0;
  text-indent: -99999em;
  overflow: hidden;
}
.radio-label:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
  background: #ffffff;
  box-sizing: border-box;
}
.radio-label-blank {
  width: 0;
  padding-left: 20px;
  text-indent: -9999px;
}
.radio:checked + .radio-label:before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: 10;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: #222;
}
.radio:disabled + .radio-label:after {
  background: #ddd;
}

.form-label {
  height: 37px;
  line-height: 37px;
  color: #666;
}
.form-label-em {
  height: 37px;
  line-height: 37px;
  color: #25aae1;
}

.form-label {
  height: 30px;
  line-height: 27px;
  color: #666;
  font-weight: normal;
}
.form-msg {
  height: 37px;
  line-height: 37px;
  color: #666;
  font-weight: normal;
}
.form-info-msg {
  clear: both;
  position: relative;
  padding-top: 10px;
  padding-left: 10px;
  color: #25aae1;
  font-weight: normal;
}
.form-info-msg:after {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  position: absolute;
  top: 17px;
  left: 0;
  background: #25aae1;
}
.form-info-msg.middle {
  display: inlne-block;
}
.form-msg-normal {
  clear: both;
  padding-top: 10px;
  font-weight: normal;
  color: #666;
}
.form-msg-normal.middle {
  display: inlne-block;
}
.form-attached-file {
  height: 37px;
  line-height: 37px;
  color: #666;
  text-decoration: underline;
}

.label-on-input {
  position: absolute;
  top: 11px;
  left: 10px;
  color: #999;
  font-weight: normal;
}

.middle {
  display: inline-block;
  vertical-align: middle;
}
.middle.left {
  margin-right: 6px;
}
.middle.left.group {
  margin-right: 16px;
}
.middle.right {
  margin-left: 6px;
}
.middle.right.group {
  margin-left: 16px;
}

/*
 * common module style
 */
.list-column {
  margin-top: 5px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background: #f9f9f9;
}
.list-column:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.list-column .list-description.left-float,
.list-column .list-description.right-float {
  margin: 0;
  box-sizing: border-box;
  padding: 20px;
  width: 50%;
  border: 0;
}
.list-description {
  padding: 25px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background: #f9f9f9;
}
.list-description .list-item {
  position: relative;
  padding-left: 10px;
  line-height: 1.6;
}
.list-description .list-item:after {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  position: absolute;
  top: 9px;
  left: 0;
  background: #666;
}
.list-description .list-item.em-red:after {
  background: #ed1c24;
}

.scroll-area {
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
}

.chart-view {
  width: 25px;
  height: 25px;
  display: inline-block;
  line-height: 25px;
  text-indent: -99999em;
  border: 0;
  background: url(../images/icon_chart.png) no-repeat 0 -40px;
}
.chart-view.on {
  background-position: 0 0;
}
.chart-delete {
  width: 25px;
  height: 25px;
  display: inline-block;
  line-height: 25px;
  text-indent: -99999em;
  border: 0;
  background: url(../images/icon_btn_delete.png) no-repeat 0 0;
}

.ui-datepicker {
  display: none;
  margin-top: 2px;
  padding: 10px;
  border: 2px solid #ee6247;
  background: #ffffff;
}
.ui-datepicker-header {
  position: relative;
  padding: 10px 0;
  background: #f5f8f8;
  border-radius: 2px;
}
.ui-datepicker-prev, .ui-datepicker-next {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-indent: -9999px;
  background: #ffffff url(../images/sprite_pagination.png) no-repeat;
  cursor: pointer;
}
.ui-datepicker-prev {
  left: 10px;
  background-position: -28px 0;
}
.ui-datepicker-next {
  right: 10px;
  background-position: -56px 0;
}
.ui-datepicker-title {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #222;
  text-align: center;
}
.ui-datepicker-calendar {
  width: 259px;
}
.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
  width: 37px;
  height: 37px;
}
.ui-datepicker-calendar th {
  font-weight: bold;
}
.ui-datepicker-calendar span,
.ui-datepicker-calendar a {
  position: relative;
  display: block;
  height: 100%;
  line-height: 37px;
  text-align: center;
  color: #222;
}
.ui-datepicker-calendar th span[title="Saturday"],
.ui-datepicker-calendar .ui-datepicker-sat a {
  color: #479dee;
}
.ui-datepicker-calendar th span[title="Sunday"],
.ui-datepicker-calendar .ui-datepicker-sun a {
  color: #e70000;
}
.ui-datepicker .ui-state-highlight {
  color: #ffffff;
  font-weight: bold;
}
.ui-datepicker .ui-state-highlight:after {
  width: 29px;
  height: 29px;
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;
  display: block;
  border-radius: 100%;
  background: #ee6247;
  z-index: -1;
}
.ui-datepicker .ui-state-active:after {
  width: 28px;
  height: 28px;
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;
  display: block;
  border: 1px solid #ee6247;
  border-radius: 100%;
}

.tab-list {
  height: 32px;
}
.tab-list:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.tab-list-item {
  position: relative;
  float: left;
  padding: 0 20px 0 21px;
}
.tab-list-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 17px;
  background: #d8d8d8;
}
.tab-list-item:first-child {
  padding-left: 0;
}
.tab-list-item:first-child:after {
  display: none;
}
.tab-list-link {
  position: relative;
  display: block;
  padding-bottom: 15px;
  color: #999;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}
.tab-list-link.on {
  color: #222;
}
.tab-list-link.on:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #25aae1;
}

.sort-tab {
  margin-top: 35px;
}
.sort-tab-list {
  height: 40px;
}
.sort-tab-list:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.sort-tab-list-item {
  float: left;
  width: 12.5%;
}
.sort-tab-list-item:first-child .sort-tab-list-link {
  border-left: 1px solid #d8d8d8;
}
.sort-tab-list-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #999;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}
.sort-tab-list-link.on {
  color: #25aae1;
}
.sort-tab-list-link.on:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 3px;
  border-left: 1px solid #25aae1;
  border-right: 1px solid #25aae1;
  background: #25aae1;
}
.sort-tab-list.yellow .sort-tab-list-link.on {
  color: #fcb040;
}
.sort-tab-list.yellow .sort-tab-list-link.on:after {
  border-color: #fcb040;
  background: #fcb040;
}

.calendar:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.calendar-input {
  float: left;
  padding-left: 1px;
  width: 90px;
  text-align: center;
}
.calendar-btn {
  float: left;
  padding: 0;
  width: 37px;
  height: 37px;
  border: 1px solid #cbcbcb;
  border-left: 0;
  text-indent: -9999px;
  background: #f9f9f9 url(../images/icon_btn_calendar.png) no-repeat 50% 50%;
}

.search-spinner {
  box-sizing: border-box;
  height: 37px;
  border: 1px solid #cbcbcb;
  background: #ffffff;
}
.search-spinner:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.search-spinner-left, .search-spinner-right {
  float: left;
  padding: 0;
  width: 19px;
  height: 100%;
  text-indent: -9999px;
  border: 0;
  background: none;
}
.search-spinner-left {
  border-right: 1px solid #ededed;
  background: url(../images/bg_arrow_small.png) no-repeat 6px 50%;
}
.search-spinner-right {
  border-left: 1px solid #ededed;
  background: url(../images/bg_arrow_small.png) no-repeat -72px 50%;
}
.search-spinner-text {
  float: left;
  width: 35px;
  height: 100%;
  line-height: 35px;
  text-align: center;
}
.search-spinner-text.year {
  width: 55px;
}

.sorting-amount {
  height: 26px;
  line-height: 26px;
  font-weight: bold;
}
.sorting-label-box {
  margin-top: 4px;
}
.sorting-label-box:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.big-list {
  padding-top: 30px;
  border-top: 2px solid #222;
}
.big-list:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.big-list-item {
  margin: 0 10px 20px 10px;
  padding-bottom: 10px;
  float: left;
  width: 318px;
  border: 1px solid #d8d8d8;
}
.big-list-item.first {
  margin-left: 0;
}
.big-list-item.last {
  margin-right: 0;
}
.big-list-thumb {
  border-bottom: 1px solid #d8d8d8;
}
.big-list-addr {
  margin: 14px 20px 0 20px;
  height: 82px;
  border-bottom: 1px solid #d8d8d8;
}
.big-list-addr02 {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
}
.big-list-addr-text {
  margin-top: 9px;
  font-weight: bold;
}
.big-list-overview {
  margin-top: 20px;
  margin-left: 20px;
  height: 62px;
}
.big-list-overview.line3 {
  height: 78px;
}
.big-list-overview-item {
  margin-bottom: 10px;
}
.big-list-overview-title {
  display: inline-block;
  margin-right: 7px;
  width: 62px;
  height: 16px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background: #25aae1;
}
.big-list-overview-title.yellow {
  background: #fcb040;
}
.big-list-overview-title.gray {
  background: #a1b0b6;
}
.big-list-detail {
  margin: 0 25px;
  padding: 25px 0;
  height: 65px;
  border-top: 1px solid #d8d8d8;
}
.big-list-detail-text {
  line-height: 1.5;
}

.tooltip {
  display: none;
  position: absolute;
  padding: 20px;
  border: 1px solid #25aae1;
  color: #666;
  font-size: 13px;
  background: #ffffff;
  text-align: left;
  z-index: 30;
}
.tooltip.on {
  display: block;
}
.tooltip-wrap {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #d8d8d8;
}
.tooltip-wrap:first-child {
  margin: 0;
  padding: 0;
  border-top: 0;
}
.tooltip-title {
  margin-bottom: 7px;
  color: #666;
  font-size: 14px;
}
.tooltip-title:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.tooltip-text {
  margin-top: 5px;
}
.tooltip-text:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.tooltip-text:first-child {
  margin-top: 0;
}
.tooltip-text.gray {
  color: #999;
}
.tooltip-text.icon-foot, .tooltip-text.icon-elv, .tooltip-text.icon-sun, .tooltip-text.icon-car, .tooltip-text.icon-circle, .tooltip-text.icon-house, .tooltip-text.icon-coin {
  padding-left: 22px;
  background: url(../images/icon_tooltip_more.png) no-repeat;
  white-space: nowrap;
}
.tooltip-text.icon-foot {
  background-position: 0 0;
}
.tooltip-text.icon-elv {
  background-position: 0 -21px;
}
.tooltip-text.icon-sun {
  background-position: 0 -44px;
}
.tooltip-text.icon-car {
  background-position: 0 -66px;
}
.tooltip-text.icon-circle {
  background-position: 0 -88px;
}
.tooltip-text.icon-house {
  background-position: 0 -110px;
}
.tooltip-text.icon-coin {
  background-position: 0 -131px;
}
.tooltip-price-date {
  margin-right: 5px;
  color: #999;
}
.tooltip-price-up {
  padding-right: 10px;
  color: #25aae1;
  background: url(../images/icon_up.png) no-repeat 100% 50%;
}
.tooltip-price-down {
  padding-right: 10px;
  color: #ed1c24;
  background: url(../images/icon_down.png) no-repeat 100% 50%;
}
.tooltip.price {
  position: absolute;
  top: 95px;
  left: -50px;
  width: 254px;
}
.tooltip.data {
  position: absolute;
  top: 120px;
  left: 20px;
  min-width: 130px;
}

.page {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}
.page-item {
  display: inline-block;
  margin: 0 1px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  vertical-align: middle;
  border: 1px solid #d8d8d8;
}
.page-item:hover, .page-item:active {
  border-color: #25aae1;
}
.page-item.on {
  color: #ffffff;
  background: #25aae1;
  border-color: #25aae1;
}
.page-item.prev, .page-item.next {
  text-indent: -9999px;
  background: url(../images/bg_arrow_page.png) no-repeat;
}
.page-item.prev {
  background-position: 7px 7px;
}
.page-item.next {
  background-position: -27px 7px;
}
.page.yellow .page-item:hover,
.page.yellow .page-item:active {
  border-color: #fcb040;
}
.page.yellow .page-item.on {
  color: #ffffff;
  background: #fcb040;
  border-color: #fcb040;
}

.label-toggle-wrap {
  position: relative;
}
.label-toggle-wrap.half-width {
  width: 400px;
}
.label-toggle-wrap.quarter-width {
  width: 200px;
}
.label-toggle-text {
  position: absolute;
  top: 10px;
  left: 5px;
  font-weight: normal;
  color: #999;
}

.board-box {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid #d8d8d8;
}
.board-box-title {
  margin-bottom: 28px;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
  line-height: 1;
  border-bottom: 1px solid #222;
}
.board-box-first {
  position: relative;
  margin-bottom: 20px;
  height: 105px;
  overflow: hidden;
}
.board-box-first-link:hover .board-box-first-title {
  text-decoration: underline;
}
.board-box-first-title {
  display: block;
  font-size: 16px;
  color: #25aae1;
  line-height: 1.5;
}
.board-box-first-body {
  margin-top: 5px;
  display: block;
  color: #999;
}
.board-box-first-date {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #222;
}
.board-box-list {
  height: 55px;
  overflow: hidden;
}
.board-box-list-item {
  margin-top: 5px;
}
.board-box-list-item:first-child {
  margin-top: 0;
}
.board-box-list-link {
  position: relative;
  display: block;
  padding-left: 10px;
  overflow: hidden;
}
.board-box-list-link:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 2px;
  height: 2px;
  background: #25aae1;
}
.board-box-list-link:hover .board-box-list-text {
  text-decoration: underline;
}
.board-box-list-text {
  color: #222;
  float: left;
}
.board-box-list-text.has-date {
  width: 80%;
}
.board-box-list-date {
  float: right;
  width: 20%;
  color: #999;
  text-align: right;
}
.board-box-more {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 17px;
  height: 17px;
  text-indent: -9999px;
  background: url(../images/bg_btn_more.png) no-repeat;
}

.info-box {
  box-sizing: border-box;
  padding: 20px 30px;
  height: 170px;
  background: #ededed;
}
.info-box:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.info-box-head {
  float: left;
}
.info-box-title {
  margin-top: 7px;
  padding-top: 21px;
  font-size: 28px;
  color: #222;
  background: url(../images/bg_info_box_title.png) no-repeat;
}
.info-box-subtitle {
  font-size: 28px;
  font-weight: 900;
  color: #222;
}
.info-box-msg {
  margin-top: 10px;
  color: #222;
}
.info-box-body {
  float: right;
}

/*
 * specific style
 */
.left-float {
  float: left;
}
.left-float.left {
  margin-right: 10px;
}
.left-float.left.group {
  margin-right: 20px;
}
.left-float.left.half {
  margin-right: 5px;
}
.left-float.right {
  margin-left: 10px;
}
.left-float.right.group {
  margin-left: 20px;
}
.left-float.right.half {
  margin-left: 5px;
}

.right-float {
  float: right;
}
.right-float.left {
  margin-right: 10px;
}
.right-float.left.group {
  margin-right: 20px;
}
.right-float.left.half {
  margin-right: 5px;
}
.right-float.right {
  margin-left: 10px;
}
.right-float.right.group {
  margin-left: 20px;
}
.right-float.right.half {
  margin-left: 5px;
}

.hide {
  display: none;
}

.em-dark {
  color: #222 !important;
  font-weight: bold;
}

.em-gray {
  color: #25aae1 !important;
}

.em-blue {
  color: #25aae1 !important;
}

.em-yellow {
  color: #fcb040 !important;
}

.em-red {
  color: #ed1c24 !important;
}

.small-font {
  font-size: 12;
}

.mini-font {
  font-size: 11;
}

.status-blue {
  font-weight: bold;
  color: #479dee;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.div-item {
  float: left;
  width: 20px;
  line-height: 37px;
  text-align: center;
}

.mt8 {
  margin: 8px 0 0 0;
}

/*
 * specific style of each page
 */
/*
 * specific style of each browser vendor
 */

/*# sourceMappingURL=common.css.map */
