.search-option {
  border: 1px solid #d8d8d8;
}
.search-option-detail {
  padding: 0 40px 25px 40px;
  background: #f9f9f9;
}
.search-option-detail:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.search-option-wrap {
  float: left;
  margin-top: 25px;
  width: 100%;
}
.search-option-wrap:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.search-option-wrap.interior-price {
  width: 500px;
}
.search-option-wrap.interior-area {
  width: 418px;
}
.search-option-label {
  float: left;
  width: 75px;
  line-height: 37px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
}
.search-option-condition-input {
  width: 508px;
}
.search-option-condition-unit {
  float: left;
  padding-left: 5px;
  width: 25px;
  line-height: 37px;
}
.search-option-bottom {
  padding: 10px 0;
  background: #ededed;
  border-top: 1px solid #d8d8d8;
  text-align: center;
}
.search-option-bottom .btn-fill {
  margin: 0 8px;
  font-size: 20px;
}
.search-option-bottom .btn-fill.btn-search-icon {
  padding-left: 90px;
  text-align: left;
  background: #25aae1 url(../images/icon_search_white.png) no-repeat 70px 13px;
}

.detail-header {
  margin-top: 10px;
  border: 1px solid #ddd;
  border-top-color: #25aae1;
  background: #f9f9f9;
}
.detail-header:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.detail-header-heading {
  box-sizing: border-box;
  height: 100px;
  padding: 23px 20px;
}
.detail-header-heading-title {
  font-size: 20px;
  font-weight: bold;
  color: #222;
}
.detail-header-heading-info {
  margin-top: 10px;
  font-size: 14px;
}

.detail-gallery {
  margin-top: 10px;
  position: relative;
  width: 767px;
  /* Style the thumbnails */
  /* The stage is the wrapper. The image fills 100% the height of the stage */
  /* Ths play, pause, prev and next buttons */
  /* The previous and next textual buttons */
}
.detail-gallery .pika-thumbs {
  padding: 3px 0 !important;
  height: 39px;
}
.detail-gallery .pika-thumbs li {
  width: 60px;
  height: 42px;
  padding: 0;
  float: left;
  margin: 0 5px;
  cursor: pointer;
}
.detail-gallery .pika-thumbs li .clip img {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.detail-gallery .pika-thumbs li .clip img.active {
  outline: 3px solid #25aae1;
}
.detail-gallery .pika-stage, .detail-gallery .pika-textnav {
  width: 767px;
}
.detail-gallery .pika-stage {
  position: relative;
  text-align: center;
  height: 493px;
}
.detail-gallery .pika-stage img {
  height: 100%;
}
.detail-gallery .pika-stage .caption {
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid #141414;
  font-size: 11px;
  color: #fafafa;
  padding: 10px;
  text-align: right;
  bottom: 50px;
  right: 10px;
}
.detail-gallery .pika-stage .caption p {
  padding: 0;
  margin: 0;
  line-height: 14px;
}
.detail-gallery .pika-imgnav a {
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  text-indent: -9999px;
  background: url(../images/bg_btn_detail_slide.png) no-repeat;
  z-index: 3;
  cursor: pointer;
}
.detail-gallery .pika-imgnav a.previous {
  top: 176px;
  left: 0;
}
.detail-gallery .pika-imgnav a.previous:hover {
  background-position: 0 -71px;
}
.detail-gallery .pika-imgnav a.next {
  top: 176px;
  right: 0;
  background-position: -70px 0;
}
.detail-gallery .pika-imgnav a.next:hover {
  background-position: -70px -71px;
}
.detail-gallery .pika-imgnav a.play {
  display: none;
}
.detail-gallery .pika-textnav {
  display: none;
}
.detail-gallery .pika-counter {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  font-size: 11px;
  padding: 3px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.detail-gallery .jcarousel-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 7px 135px 7px 5px;
  background: url(../images/bg_detail_slide_thumb.png);
}
.detail-gallery .jcarousel-clip {
  overflow: hidden;
}
.detail-gallery-function {
  position: absolute;
  right: 10px;
  bottom: 4px;
}
.detail-gallery-function-map {
  float: left;
  box-sizing: border-box;
  padding: 30px 0 0;
  width: 55px;
  height: 50px;
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  border: 0;
  border-radius: 3px;
  background: #25aae1 url(../images/icon_detail_map_function.png) no-repeat 17px 8px;
}
.detail-gallery-function-roadview {
  float: left;
  margin-left: 5px;
  box-sizing: border-box;
  padding: 30px 0 0;
  width: 55px;
  height: 50px;
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  border: 0;
  border-radius: 3px;
  background: #25aae1 url(../images/icon_detail_map_function.png) no-repeat -44px 8px;
}
.detail-gallery.in-interior .jcarousel-container {
  padding: 7px 5px;
}

.detail-summary {
  width: 767px;
}
.detail-summary-table {
  margin-top: 10px;
}

.interior-info {
  width: 767px;
}
.interior-info-table {
  margin-top: 20px;
}
.interior-info-header {
  text-align: center;
  background: url(../images/icon_interior.png) no-repeat;
}
.interior-info-header.living-room {
  padding-top: 53px;
  background-position: 50% 0;
}
.interior-info-header.bath-room {
  padding-top: 78px;
  background-position: 50% -100px;
}
.interior-info-header.bed-room {
  padding-top: 68px;
  background-position: 50% -200px;
}
.interior-info-title {
  margin-bottom: 10px;
  color: #222;
  font-weight: bold;
}
.interior-info-text {
  line-height: 1.5;
}

.detail-sidebar {
  position: absolute;
  top: 179px;
  right: 0;
  z-index: 10;
}
.detail-sidebar.fixed {
  position: fixed;
  top: 25px;
  left: 50%;
  margin-left: 278px;
}
.detail-sidebar.fixed .detail-user-header {
  display: none;
}
.detail-sidebar.fixed .detail-side-link {
  display: block;
}
.detail-sidebar.fixed .detail-user-help-wrap {
  display: none;
}
.detail-sidebar.fixed .no-fixed {
  display: none;
}
.detail-sidebar.fixed .fixed {
  display: block;
}

.detail-user {
  padding: 10px;
  width: 200px;
  border: 1px solid #d8d8d8;
  border-top: 4px solid #fcb040;
  background: #ffffff;
}
.detail-user-header {
  padding: 10px 0;
}
.detail-user-header:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.detail-user-header-photo {
  float: left;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  overflow: hidden;
}
.detail-user-header-img {
  width: 100%;
}
.detail-user-header-text {
  float: right;
  width: 130px;
}
.detail-user-header-name {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  color: #222;
}
.detail-user-header-rate {
  margin-top: 4px;
}
.detail-user-body {
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid #d8d8d8;
}
.detail-user-body-map {
  margin-bottom: 10px;
}
.detail-user-body-data {
  line-height: 1.6;
}
.detail-user-help {
  padding-top: 10px;
  border-top: 1px solid #d8d8d8;
}
.detail-user-homepage {
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 37px;
  line-height: 37px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  background: #fcb040;
  border-radius: 2px;
}

.detail-header-fixed {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1000px;
  background: #465265;
  height: 50px;
  line-height: 50px;
  z-index: 999;
}
.detail-header-fixed.on {
  display: block;
}
.detail-header-fixed-left {
  float: left;
  width: 778px;
}
.detail-header-fixed-right {
  float: right;
  width: 222px;
  background: #323a49;
}
.detail-header-fixed-title {
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.detail-header-fixed-type {
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.rate-star {
  margin: 0 2px;
  display: inline-block;
}

.interior-exam {
  margin: 50px 0 0 0;
  padding: 30px 0 50px;
  border-top: 2px solid #222;
}
.interior-exam:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.interior-exam-box {
  float: left;
  margin: 0 0 0 10px;
  padding: 20px;
  width: 453px;
  border: 1px solid #d8d8d8;
}
.interior-exam-box:first-child {
  margin: 0;
}
.interior-exam-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
}
.interior-exam-body {
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 108px;
}
.interior-exam-body .jcarousel-clip {
  overflow: hidden;
}
.interior-exam-body .jcarousel-prev {
  position: absolute;
  top: 40px;
  left: -24px;
  width: 7px;
  height: 13px;
  background: url(../images/bg_arrow_small.png) no-repeat;
  cursor: pointer;
}
.interior-exam-body .jcarousel-prev.jcarousel-prev-disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.5;
  cursor: default;
}
.interior-exam-body .jcarousel-next {
  position: absolute;
  top: 40px;
  right: -24px;
  width: 7px;
  height: 13px;
  background: url(../images/bg_arrow_small.png) no-repeat -78px 0;
  cursor: pointer;
}
.interior-exam-body .jcarousel-next.jcarousel-next-disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.5;
  cursor: default;
}
.interior-exam-list {
  width: 440px;
  height: 108px;
}
.interior-exam-item {
  margin: 0 6px;
  width: 68px;
  height: 108px;
}
.interior-exam-frame {
  overflow: hidden;
  height: 68px;
}
.interior-exam-img {
  width: 100%;
}
.interior-exam-text {
  margin-top: 10px;
  width: 68px;
  height: 30px;
  color: #666;
  font-size: 12px;
  overflow: hidden;
}

.interior-profile {
  position: relative;
  margin-top: 35px;
  border: 1px solid #d8d8d8;
}
.interior-profile-photo {
  position: absolute;
  top: 39px;
  left: 40px;
  width: 146px;
  height: 145px;
}
.interior-profile-photo-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.interior-profile-photo-img {
  width: 100%;
}
.interior-profile-photo-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/mask_user_photo.png) no-repeat;
}
.interior-profile-top {
  padding-left: 220px;
  height: 96px;
  background: #25aae1;
}
.interior-profile-top:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.interior-profile-top-btns {
  margin: 34px 40px 0 0;
}
.interior-profile-name {
  margin-top: 23px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
}
.interior-profile-link {
  display: block;
  margin: 26px 0 0 10px;
  width: 26px;
  height: 26px;
  background: url(../images/bg_home_link.png) no-repeat;
  text-indent: -9999px;
}
.interior-profile-copy {
  clear: left;
  float: left;
  padding-top: 10px;
  color: #ffffff;
}
.interior-profile-bottom {
  padding-left: 220px;
  height: 224px;
}
.interior-profile-detail {
  margin-top: 16px;
  width: 405px;
}
.interior-profile-detail-item {
  margin-top: 5px;
  font-size: 15px;
  color: #222;
}
.interior-profile-map {
  margin: 10px 10px 0 0;
  width: 350px;
  height: 204px;
}
.interior-profile-my {
  margin: 20px 0 0 -12px;
  width: 370px;
}
.interior-profile-my-item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 12px;
  width: 145px;
  height: 17px;
  line-height: 17px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
}
.interior-profile-my-item:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.interior-profile-my-item.left-float.left {
  margin-right: 30px;
}
.interior-profile-my-item:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 2px;
  height: 2px;
  background: #25aae1;
}
.interior-profile-my-link {
  color: #3e8aad;
  font-weight: normal;
  text-decoration: underline;
}

/*# sourceMappingURL=interior.css.map */
