.sort-section:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.sort-section-top {
  background: #465265;
}
.sort-section-bottom {
  background: #323a49;
}
.sort-option-other {
  padding: 5px 0;
  width: 230px;
}
.sort-option-other .icon-pin {
  margin-right: 5px;
  padding-left: 50px;
  text-align: left;
  color: #a1b0b6;
  background: #626c7d url(../images/icon_pin.png) no-repeat 32px 6px;
}
.sort-option-other .icon-pin.on {
  color: #ffffff;
  background-color: #fcb040;
  background-position: 32px -78px;
}
.sort-option-other .icon-subway {
  padding-left: 45px;
  text-align: left;
  color: #a1b0b6;
  background: #626c7d url(../images/icon_subway.png) no-repeat 25px 4px;
}
.sort-option-other .icon-subway.on {
  color: #ffffff;
  background-color: #fcb040;
  background-position: 25px -78px;
}
.sort-option-more {
  width: 765px;
}
.sort-option-tag {
  position: relative;
  width: 100%;
  border-top: 1px solid #626c7d;
}
.sort-option-tag:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.sort-option-tag-manage {
  float: left;
  width: 88px;
}
.sort-option-tag-list {
  float: left;
  padding: 4px 15px 0;
  width: 830px;
  overflow: hidden;
}
.sort-option-tag-function {
  float: right;
}
.sort-option-tag-item {
  float: left;
  margin-right: 15px;
  line-height: 30px;
  color: #ffffff;
  font-size: 12px;
}
.sort-option-tag-text {
  text-decoration: underline;
}
.sort-option-btn-save, .sort-option-btn-load {
  float: left;
  padding: 0;
  width: 44px;
  height: 39px;
  text-indent: -9999px;
  border: 0;
}
.sort-option-btn-save {
  border-right: 1px solid #626c7d;
  background: #323a49 url(../images/icon_list_save.png) no-repeat 50% 50%;
}
.sort-option-btn-load {
  background: #323a49 url(../images/icon_list_load.png) no-repeat 50% 50%;
}
.sort-option-btn-refresh, .sort-option-btn-alltag {
  float: left;
  padding: 0;
  width: 25px;
  height: 39px;
  text-indent: -9999px;
  border: 0;
}
.sort-option-btn-refresh {
  background: url(../images/icon_refresh.png) no-repeat 50% 50%;
}
.sort-option-btn-alltag {
  background: url(../images/bg_btn_toggle_white.png) no-repeat 50% -77px;
}
.sort-option-btn-alltag.on {
  background-position: 50% 15px;
}
.sort-option-btn-del {
  display: inline-block;
  margin-left: 3px;
  width: 11px;
  height: 11px;
  border: 0;
  text-indent: -9999px;
  background: url(../images/bg_btn_del.png) no-repeat;
  vertical-align: middle;
}
.sort-menu-item {
  position: relative;
  float: left;
}
.sort-menu-item:after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 1px;
  height: 8px;
  background: #626c7d;
}
.sort-menu-item:first-child:after, .sort-menu-item.detail:after {
  display: none;
}
.sort-menu-item.on:after {
  display: none;
}
.sort-menu-item.on .sort-menu-btn {
  background: #fcb040;
}
.sort-menu-item.on .sort-menu-btn:after {
  content: "\25B4";
}
.sort-menu-item.on .sort-menu-sub {
  display: block;
}
.sort-menu-btn {
  padding-left: 12px;
  width: 95px;
  height: 39px;
  line-height: 39px;
  border: none;
  font-weight: bold;
  background: none;
  color: #ffffff;
}
.sort-menu-btn:after {
  content: "\25BE";
  display: inline;
  margin-left: 5px;
}
.sort-menu-btn.detail {
  width: 100px;
  background: #323a49;
}
.sort-menu-sub {
  display: none;
  position: absolute;
  top: 39px;
  left: 0;
  padding: 10px;
  min-width: 160px;
  border: 1px solid #fcb040;
  background: #ffffff;
  z-index: 50;
}
.sort-menu-sub.on {
  display: block;
}
.sort-menu-sub.menu-left {
  left: 0;
}
.sort-menu-sub.menu-right {
  left: auto;
  right: 0;
}
.sort-menu-sub.from .sort-input.from {
  border: 2px solid #fcb040;
}
.sort-menu-sub.from .sort-menu-sub-list.from {
  display: block;
}
.sort-menu-sub.to .sort-input.to {
  border: 2px solid #fcb040;
}
.sort-menu-sub.to .sort-menu-sub-list.to {
  display: block;
}
.sort-menu-sub-input {
  margin-bottom: 10px;
}
.sort-menu-sub-input:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.sort-menu-sub-list.from {
  display: none;
  text-align: left;
}
.sort-menu-sub-list.to {
  display: none;
  text-align: right;
}
.sort-menu-sub-item {
  margin-top: 8px;
}
.sort-menu-sub-item:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.sort-menu-sub-item:first-child {
  margin-top: 0;
}
.sort-menu-sub-item .check-label-text {
  font-weight: bold;
}
.sort-menu-sub-item .check-label-text.on {
  color: #fcb040;
  border-bottom: 1px solid #fcb040;
}
.sort-menu-sub-item .check-label-text.type-icon {
  position: relative;
  margin-left: 27px;
}
.sort-menu-sub-item .check-label-text.type-icon:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -27px;
  width: 19px;
  height: 19px;
  background: url(../images/icon_item_type.png) no-repeat;
}
.sort-menu-sub-item .check-label-text.type-icon.all:after {
  background-position: 0 0;
}
.sort-menu-sub-item .check-label-text.type-icon.yellow:after {
  background-position: 0 -22px;
}
.sort-menu-sub-item .check-label-text.type-icon.blue:after {
  background-position: 0 -44px;
}
.sort-menu-sub-item .check-label-text.type-icon.purple:after {
  background-position: 0 -67px;
}
.sort-menu-sub-item .check-label-text.type-icon.gray:after {
  background-position: 0 -89px;
}
.sort-menu-sub-item .check-label-text.type-icon.orange:after {
  background-position: 0 -111px;
}
.sort-menu-sub-item .check-label-text.type-icon.pink:after {
  background-position: 0 -134px;
}
.sort-menu-sub-item .check-label-text.type-icon.green:after {
  background-position: 0 -156px;
}
.sort-menu-sub-item .check-label-text.type-icon.red:after {
  background-position: 0 -178px;
}
.sort-menu-sub-btn {
  display: inline;
  padding: 0;
  border: 0;
  background: none;
  font-weight: bold;
}
.sort-menu-sub-btn.on {
  color: #fcb040;
  border-bottom: 1px solid #fcb040;
}
.sort-input {
  box-sizing: borer-box;
  padding: 0 5px;
  width: 75px;
  height: 27px;
  border: 1px solid #cbcbcb;
}
.sort-input-wrap {
  float: left;
  position: relative;
}
.sort-input-label {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #cbcbcb;
}
.sort-input-div {
  float: left;
  width: 10px;
  text-align: center;
  line-height: 27px;
}
.sort-result-title {
  position: relative;
  float: left;
  padding-left: 30px;
  width: 58px;
  height: 40px;
  background: #232833;
}
.sort-result-title-text {
  line-height: 40px;
  color: #ffffff;
}
.sort-result-list {
  float: left;
  padding: 0 15px;
  width: 882px;
}
.sort-result-item {
  line-height: 40px;
  color: #ffffff;
  overflow: hidden;
}
.sort-result-btn-up, .sort-result-btn-down {
  position: absolute;
  left: 15px;
  padding: 0;
  width: 11px;
  height: 8px;
  text-indent: -9999px;
  border: 0;
}
.sort-result-btn-up {
  top: 12px;
  background: url(../images/icon_arrow_up_white.png) no-repeat 50% 50%;
}
.sort-result-btn-down {
  top: 22px;
  background: url(../images/icon_arrow_down_white.png) no-repeat 50% 50%;
}

.sort-tag-all {
  display: none;
  position: absolute;
  top: 79px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  background: #58606d;
  z-index: 40;
}
.sort-tag-all.on {
  display: block;
}
.sort-tag-all-title {
  padding: 20px 0 0 20px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}
.sort-tag-all-list {
  padding: 10px 20px;
}
.sort-tag-all-list:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.sort-tag-all-btn {
  padding: 0;
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: 0;
  background: #fcb040 url(../images/icon_search_white.png) no-repeat 445px 50%;
  cursor: pointer;
}

.sort-detail {
  top: 79px;
  left: auto;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  width: 1000px;
  border: 1px solid #fcb040;
}
.sort-detail-scroll {
  height: 570px;
  overflow: auto;
}
.sort-detail-top {
  padding: 20px;
  background: #f9f9f9;
}
.sort-detail-top:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.sort-detail-tag-title {
  float: left;
  width: 115px;
  height: 40px;
  line-height: 40px;
  color: #fcb040;
  font-size: 22px;
  font-weight: 900;
}
.sort-detail-tag-keyword {
  position: relative;
  float: left;
}
.sort-detail-tag-label {
  position: absolute;
  top: 13px;
  left: 10px;
  color: #999;
}
.sort-detail-tag-input {
  box-sizing: border-box;
  padding: 0 10px;
  width: 760px;
  height: 40px;
  border: 2px solid #fcb040;
}
.sort-detail-tag-add {
  float: left;
  margin-left: 5px;
}
.sort-detail-tag-btn {
  padding: 0;
  padding-left: 22px;
  width: 60px;
  height: 40px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  border: 0;
  background: #fcb040 url(../images/icon_plus02.png) no-repeat 11px 50%;
}
.sort-detail-default {
  padding: 20px;
  padding-top: 0;
}
.sort-detail-default:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.sort-detail-default-section {
  padding: 20px 0;
  border-bottom: 1px solid #d8d8d8;
}
.sort-detail-default-section:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.sort-detail-default-section .half-section {
  width: 50%;
}
.sort-detail-default-section .half-section .sort-detail-item {
  width: 355px;
}
.sort-detail-wrap {
  margin-top: 10px;
}
.sort-detail-wrap:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.sort-detail-wrap:first-child {
  margin-top: 0;
}
.sort-detail-label {
  float: left;
  width: 115px;
  color: #222;
  font-weight: bold;
  height: 37px;
  line-height: 37px;
}
.sort-detail-item {
  float: left;
}
.sort-detail-item .check-wrap {
  margin-top: 9px;
}
.sort-detail-unit {
  float: left;
  padding-left: 5px;
  width: 20px;
  height: 37px;
  line-height: 37px;
}
.sort-detail-option {
  padding: 20px;
  padding-top: 0;
}
.sort-detail-option:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.sort-detail-option-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #222;
}
.sort-detail-option-section {
  border-top: 1px solid #222;
  background: url(../images/bg_sort_detail_option.png) repeat-y;
}
.sort-detail-option-wrap {
  height: 40px;
  border-bottom: 1px solid #cbcbcb;
  overflow: hidden;
}
.sort-detail-option-wrap:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.sort-detail-option-wrap.default-row2 {
  height: 80px;
}
.sort-detail-option-wrap.default-row3 {
  height: 120px;
}
.sort-detail-option-wrap.default-row4 {
  height: 160px;
}
.sort-detail-option-wrap.default-row5 {
  height: 200px;
}
.sort-detail-option-wrap.on {
  height: auto !important;
}
.sort-detail-option-label {
  float: left;
  padding: 12px 10px;
  width: 85px;
  color: #222;
  font-weight: bold;
}
.sort-detail-option-item {
  float: left;
  padding: 0 10px;
  width: 788px;
}
.sort-detail-option-item .radio-wrap,
.sort-detail-option-item .check-wrap {
  margin: 10px 0;
}
.sort-detail-option-btn {
  float: left;
  width: 28px;
}
.sort-detail-submit-btn {
  padding: 0;
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: 0;
  background: #fcb040;
  cursor: pointer;
}
.sort-detail-btn-toggle {
  padding: 0;
  width: 100%;
  height: 40px;
  border: 0;
  text-indent: -9999px;
  background: url(../images/bg_btn_toggle.png) no-repeat 50% -57px;
}
.sort-detail-btn-toggle.on {
  background-position: 50% 17px;
}

.list-top {
  position: relative;
}
.list-top:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.list-amount {
  margin-bottom: 10px;
  color: #666;
  font-weight: bold;
}
.list-sort {
  position: absolute;
  right: 0;
  bottom: 0;
}
.list-sort-check {
  margin-top: 9px;
}

.pick-loc {
  margin-top: 30px;
  border: 1px solid #d8d8d8;
  border-top: 2px solid #222;
}
.pick-loc:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.pick-loc-wrap {
  float: left;
}
.pick-loc-wrap.step01 {
  width: 189px;
  border-right: 1px solid #ededed;
}
.pick-loc-wrap.step02 {
  width: 236px;
  border-right: 1px solid #ededed;
}
.pick-loc-wrap.step03 {
  width: 236px;
  border-right: 1px solid #ededed;
}
.pick-loc-wrap.step04 {
  width: 333px;
}
.pick-loc-wrap .check-wrap,
.pick-loc-wrap .radio-wrap {
  margin-top: 7px;
}
.pick-loc-header {
  height: 66px;
  line-height: 66px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background: #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
}
.pick-loc-body {
  box-sizing: border-box;
  padding: 8px 25px 15px;
  height: 434px;
  overflow: auto;
}
.pick-loc-body.full-height {
  height: 491px;
}
.pick-loc-item {
  margin-top: 7px;
  padding: 0;
  border: 0;
  background: none;
}
.pick-loc-btn {
  padding: 14px 0;
  text-align: center;
  background: #f9f9f9;
  border-top: 1px solid #f9f9f9;
}

/*# sourceMappingURL=list.css.map */
