.user-profile {
  position: relative;
  margin-top: 35px;
  border: 1px solid #d8d8d8;
}
.user-profile-photo {
  position: absolute;
  top: 15px;
  left: 40px;
  width: 146px;
  height: 145px;
}
.user-profile-photo-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.user-profile-photo-wrap-img {
  width: 100%;
}
.user-profile-photo-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/mask_user_photo.png) no-repeat;
}
.user-profile-photo-btns {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg_user_photo_btns.png) 50% 50%;
}
.user-profile-photo-btn {
  position: absolute;
  left: 32px;
  width: 82px;
  height: 29px;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
  font-weight: bold;
}
.user-profile-photo-btn.regist {
  top: 59px;
  background: #fcb040;
}
.user-profile-photo-btn.change {
  top: 42px;
  background: #006092;
}
.user-profile-photo-btn.del {
  top: 76px;
  background: #006092;
}
.user-profile-photo:hover .user-profile-photo-btns {
  display: block;
}
.user-profile-top {
  padding-left: 220px;
  height: 72px;
  background: #25aae1;
}
.user-profile-top:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.user-profile-top-btns {
  margin: 22px 40px 0 0;
}
.user-profile-name {
  margin-top: 23px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
}
.user-profile-time {
  margin: 39px 0 0 12px;
  color: #ffffff;
}
.user-profile-bottom {
  padding-left: 220px;
  height: 105px;
}
.user-profile-detail {
  margin-top: 16px;
  width: 370px;
}
.user-profile-detail-item {
  margin-top: 5px;
  font-size: 15px;
  color: #222;
}
.user-profile-my {
  margin-top: 38px;
  padding-left: 30px;
  width: 370px;
  height: 45px;
  border-left: 1px solid #d8d8d8;
}
.user-profile-my-item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 12px;
  width: 130px;
  height: 17px;
  line-height: 17px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
}
.user-profile-my-item:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.user-profile-my-item.left-float.left {
  margin-right: 45px;
}
.user-profile-my-item:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 2px;
  height: 2px;
  background: #25aae1;
}
.user-profile-my-link {
  color: #25aae1;
  font-weight: normal;
  text-decoration: underline;
}

.search-option {
  border: 1px solid #d8d8d8;
}
.search-option-detail {
  padding: 0 40px 25px 40px;
  background: #f9f9f9;
}
.search-option-detail:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.search-option-wrap {
  float: left;
  margin-top: 25px;
  width: 100%;
}
.search-option-wrap:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.search-option-wrap.deal-type {
  width: 239px;
}
.search-option-wrap.item-type {
  width: 239px;
}
.search-option-wrap.area-type {
  width: 440px;
}
.search-option-label {
  float: left;
  width: 75px;
  line-height: 37px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
}
.search-option-monthly-btn {
  padding: 0;
  width: 69px;
}
.search-option-condition {
  margin-top: 9px;
}
.search-option-condition:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.search-option-condition-pannel {
  display: none;
}
.search-option-condition-pannel.on {
  display: block;
}
.search-option-condition-input {
  width: 508px;
}
.search-option-condition-unit {
  float: left;
  padding-left: 5px;
  width: 25px;
  line-height: 37px;
}
.search-option-bottom {
  padding: 10px 0;
  background: #ededed;
  border-top: 1px solid #d8d8d8;
  text-align: center;
}
.search-option-bottom .btn-fill {
  margin: 0 8px;
  font-size: 20px;
}
.search-option-bottom .btn-fill.btn-search-icon {
  padding-left: 90px;
  text-align: left;
  background: #25aae1 url(../images/icon_search_white.png) no-repeat 70px 13px;
}

/*# sourceMappingURL=my_champ.css.map */
