/*
 * common layout style of popup
 */
.dimmed {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  z-index: 1010;
}
.dimmed.on {
  display: block;
}

/* popup common : S */
.popup {
  display: none;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -250px;
  box-sizing: border-box;
  padding: 20px;
  width: 500px;
  background: #ffffff;
  border-radius: 2px;
  z-index: 1020;
}
.popup.on {
  display: block;
}
.popup-small-width {
  margin-left: -156px;
  width: 313px;
}
.popup-med-width {
  width: 612px;
  margin-left: -306px;
}
.popup-wide-width {
  margin-left: -400px;
  width: 800px;
}
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  width: 15px;
  height: 15px;
  border: 0;
  text-indent: -9999px;
  background: url(../images/icon_close_pop.png) no-repeat;
}
.popup-title {
  position: relative;
  padding-top: 90px;
  text-align: center;
  line-height: 1.5;
  color: #222;
  font-size: 20px;
  font-weight: bold;
}
.popup-title.check:after {
  content: "";
  display: block;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 34px;
  left: 50%;
  margin-left: -19px;
  background: url(../images/icon_pop_title.png) no-repeat;
}
.popup-title.check.yellow:after {
  background-position: -50px 0;
}
.popup-subtitle {
  margin-top: 12px;
  color: #222;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
}
.popup .contents-part {
  margin: 20px;
}

/* popup common : E */
/* popup join : S */
.popup-join-title {
  position: relative;
  padding-top: 90px;
  text-align: center;
  line-height: 1.5;
  color: #222;
  font-size: 20px;
  font-weight: bold;
}
.popup-join-title.email:after {
  content: "";
  display: block;
  width: 49px;
  height: 37px;
  position: absolute;
  top: 34px;
  left: 50%;
  margin-left: -25px;
  background: url(../images/icon_join.png) no-repeat;
  background-position: 0 -610px;
}
.popup-join-form {
  margin-top: 50px;
}
.popup-join-form-wrap {
  position: relative;
  border: 1px solid #cbcbcb;
}
.popup-join-form-wrap.email:after {
  content: "";
  display: block;
  width: 21px;
  height: 16px;
  position: absolute;
  top: 9px;
  right: 9px;
  background: url(../images/icon_join.png) no-repeat;
  background-position: -85px -610px;
}
.popup-join-form-label {
  position: absolute;
  top: 11px;
  left: 10px;
  line-height: 1;
  color: #999;
}
.popup-join-form-input {
  box-sizing: border-box;
  padding: 0 10px;
  width: 240px;
  height: 35px;
  border: 0;
  background: transparent;
}
.popup-join-form-submit {
  margin-top: 5px;
  width: 100%;
  height: 37px;
  line-height: 37px;
  font-size: 13px;
}
.popup-join-agree {
  margin-top: 10px;
}
.popup-join-agree:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.popup-join-agree-chk {
  float: left;
  margin: 0;
  padding: 0;
  height: 17px;
  line-height: 17px;
}
.popup-join-agree-label {
  margin-left: 5px;
  color: #999;
  height: 17px;
  line-height: 17px;
  font-size: 11px;
}
.popup-join-agree-view {
  width: 34px;
  height: 17px;
  line-height: 17px;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  background: #cbcbcb;
}
.popup-join-login {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #cbcbcb;
  text-align: center;
  font-weight: bold;
}
.popup-join-login .em-blue {
  margin-left: 10px;
}

/* popup join : E */
/* popup find post */
.clear:after {
  content: "";
  display: block;
  clear: both;
}

.pop-body {
  box-sizing: border-box;
  padding: 20px;
  line-height: 1;
}

.pop-title {
  margin-bottom: 17px;
  padding-bottom: 20px;
  font-size: 20px;
  color: #00a0e9;
  line-height: 1;
  border-bottom: 1px solid #cbcbcb;
}

.pop-subtitle {
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
}

.pop-tab-list {
  height: 39px;
  border-bottom: 1px solid #dcdcdc;
}

.pop-tab-item {
  float: left;
}

.pop-tab-link {
  display: block;
  box-sizing: border-box;
  width: 150px;
  height: 39px;
  line-height: 39px;
  color: #222;
  font-size: 13px;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
  border-bottom: 0;
}

.pop-tab-link.on {
  height: 40px;
  background-color: #fff;
  color: #00a0e9;
  font-weight: bold;
  border-top: 2px solid #00a0e9;
}

.pop-tab-cont {
  display: none;
}

.pop-tab-cont.on {
  display: block;
}

.pop-btn-box {
  margin: 10px 0;
  text-align: center;
}

.pop-gray-box {
  padding: 10px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fafafa;
}
.pop-gray-box .row-1:after, .pop-gray-box .row-2:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.pop-gray-box .row-1 {
  margin: 0 0 10px 0;
}

.pop-gray-box:after {
  content: "";
  display: block;
  clear: both;
}

.pop-box {
  margin-top: 10px;
  border-top: 2px solid #282828;
  border-bottom: 1px solid #dcdcdc;
}
.pop-box.has-table {
  height: 244px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.pop-box.has-table .estate-name {
  color: #25aae1;
  border-bottom: 1px solid #25aae1;
}

.pop-box:after {
  content: "";
  display: block;
  clear: both;
}

.pop-table {
  width: 100%;
}

.pop-table-th {
  height: 46px;
  background-color: #fafafa;
  color: #666;
  border-right: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  font-size: 12px;
}

.pop-table-td {
  padding: 5px 10px;
  color: #666;
  border-top: 1px solid #dcdcdc;
}

.pop-table tr:first-child .pop-table-th,
.pop-table tr:first-child .pop-table-td {
  border-top: 0;
}

.pop-action-box {
  margin-top: 4px;
}

.pop-action-box:after {
  content: "";
  display: block;
  clear: both;
}

.pop-action-left {
  float: left;
}

.pop-action-right {
  float: right;
}

.pop-bottom {
  margin-top: 20px;
  text-align: center;
}

.form-wrap,
.form-wrap-radio,
.form-wrap-label,
.form-wrap-div {
  position: relative;
  float: left;
  margin-right: 5px;
}

.form-wrap.no-gap,
.form-wrap-radio.no-gap,
.form-wrap-label.no-gap,
.form-wrap-div.no-gap {
  margin-right: 0;
}

.form-wrap-radio {
  margin-top: 9px;
}

.form-wrap-label {
  line-height: 37px;
}

.form-wrap-div {
  line-height: 37px;
}

.width-small {
  width: 60px;
  height: 37px;
  border: 1px solid #cbcbcb;
}

.width-normal {
  width: 185px;
  height: 37px;
  border: 1px solid #cbcbcb;
}

.width-full {
  width: 466px;
  height: 37px;
  border: 1px solid #cbcbcb;
}

.width-addr-detail {
  width: 200px;
  height: 37px;
  border: 1px solid #cbcbcb;
}

.pop-label-holder {
  position: absolute;
  top: 12px;
  left: 5px;
  line-height: 1;
  color: #bbb;
}

.btn,
.btn-blue,
.btn-search,
.btn-change {
  display: inline-block;
  width: 103px;
  height: 37px;
  line-height: 37px;
  font-weight: bold;
  background-color: #888;
  border: 0;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.btn-blue {
  background-color: #00a0e9;
}

.btn-search {
  float: left;
  display: block;
  width: 65px;
  height: 37px;
  line-height: 37px;
}

.btn-change {
  width: 100px;
  height: 28px;
  line-height: 28px;
  background-color: #00a0e9;
}

.btn-small-height {
  height: 28px;
  line-height: 28px;
}

.btn-tiny {
  display: inline-block;
  height: 20px;
  color: #ffffff;
  line-height: 20px;
  border: 0;
  background: #888;
}

.btn-pyung {
  display: block;
  width: 22px;
  height: 22px;
  float: left;
  padding: 0;
  margin: 0 5px;
  text-indent: -99999em;
  border: 0;
  background: url(../images/btn_pyung.png) no-repeat;
}
.btn-pyung.add {
  background-position: -27px 0;
}

.btn-add-pyung {
  display: block;
  width: 98px;
  height: 22px;
  position: relative;
  padding: 0 0 0 10px;
  margin: 10px auto 0;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  border: 0;
  background: #666;
  box-sizing: border-box;
}
.btn-add-pyung:after {
  content: "+";
  display: block;
  position: absolute;
  top: 3px;
  left: 7px;
  font-weight: bold;
  color: #ffffff;
}

.find-addr {
  width: 613px;
}

.find-addr-title {
  padding-left: 23px;
  font-weight: bold;
  background: url(../images/icon_search.png) no-repeat;
}

.addr-search-section {
  padding: 10px;
  border: 1px solid #cbcbcb;
  border-top: 0;
}

.addr-search-label {
  float: left;
  box-sizing: border-box;
  padding-right: 9px;
  width: 50px;
  height: 37px;
  line-height: 37px;
  font-size: 13px;
  font-weight: bold;
}

.addr-search-input01 {
  float: left;
  margin-right: 5px;
  width: 410px;
  height: 37px;
  border: 1px solid #cbcbcb;
}

.addr-search-msg01,
.addr-search-msg02 {
  position: relative;
  margin-top: 10px;
  padding-left: 5px;
  color: #888;
  font-size: 11px;
  line-height: 1.4;
}

.addr-search-msg01:after,
.addr-search-msg02:after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #898989;
}

.addr-search-msg01 {
  margin-left: 50px;
}

.addr-search-list {
  height: 238px;
}

.estate-search-list {
  height: 244px;
}

.register-search-label {
  float: left;
  box-sizing: border-box;
  padding-right: 9px;
  width: 70px;
  height: 37px;
  line-height: 37px;
  font-size: 13px;
  font-weight: bold;
}

.list-col-item {
  float: left;
}

.result-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  background-color: #fafafa;
  border-bottom: 1px solid #dcdcdc;
}

.result-list {
  height: 204px;
  overflow-x: hidden;
  overflow-y: auto;
}

.result-list-item {
  display: block;
  padding: 7px 15px;
  color: #666;
  border-bottom: 1px solid #dcdcdc;
  line-height: 1.4;
}
.result-list-item .estate-name {
  color: #222;
}
.result-list-item .estate-addr {
  color: #ddd;
}

.result-list-item-sub {
  display: block;
  margin-top: 5px;
  color: #bbb;
}

.addr-search-select {
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 173px;
  height: 28px;
  border: 1px solid #CBCBCB;
}

.addr-search-link {
  display: block;
  padding-left: 5px;
  height: 28px;
  line-height: 28px;
  color: #666;
  font-size: 13px;
  background: #fff;
}

.addr-search-link:hover {
  background: #dcdcdc;
}

.addr-search-input02 {
  width: 227px;
  height: 37px;
  border: 1px solid #CBCBCB;
}

.em {
  color: #00a0e9;
}

.select-wrapper.pop-post {
  margin-bottom: 5px;
  width: 171px;
  background: #fff;
}

/* popup login : S */
.popup-login-title {
  margin-top: 22px;
  font-size: 55px;
  font-weight: bold;
  line-height: 1;
  color: #25aae1;
  text-align: center;
}
.popup-login-title-msg {
  margin-top: 18px;
  text-align: center;
  font-weight: bold;
}
.popup-login-form {
  margin-top: 30px;
}
.popup-login-form-wrap {
  position: relative;
  border: 1px solid #cbcbcb;
}
.popup-login-form-wrap.email:after {
  content: "";
  display: block;
  width: 21px;
  height: 16px;
  position: absolute;
  top: 9px;
  right: 9px;
  background: url(../images/icon_join.png) no-repeat;
  background-position: -85px -610px;
}
.popup-login-form-wrap.password {
  margin-top: 5px;
}
.popup-login-form-wrap.password:after {
  content: "";
  display: block;
  width: 21px;
  height: 20px;
  position: absolute;
  top: 9px;
  right: 9px;
  background: url(../images/icon_join.png) no-repeat;
  background-position: -85px -640px;
}
.popup-login-form-label {
  position: absolute;
  top: 11px;
  left: 10px;
  line-height: 1;
  color: #999;
}
.popup-login-form-input {
  box-sizing: border-box;
  padding: 0 10px;
  width: 240px;
  height: 35px;
  border: 0;
  background: transparent;
}
.popup-login-form-submit {
  margin-top: 20px;
  width: 100%;
  height: 37px;
  line-height: 37px;
  font-size: 13px;
}
.popup-login-agree {
  margin-top: 10px;
}
.popup-login-agree:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.popup-login-agree-chk {
  float: left;
  margin: 0;
  padding: 0;
  height: 17px;
  line-height: 17px;
}
.popup-login-agree-label {
  margin-left: 5px;
  color: #999;
  height: 17px;
  line-height: 17px;
  font-size: 11px;
}
.popup-login-agree-view {
  width: 34px;
  height: 17px;
  line-height: 17px;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  background: #cbcbcb;
}
.popup-login-link {
  position: relative;
  margin-left: 13px;
  padding-left: 15px;
  color: #999;
  height: 17px;
  line-height: 17px;
  font-size: 11px;
}
.popup-login-link:after {
  content: "";
  display: block;
  width: 1px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5px;
  background: #cbcbcb;
}
.popup-login-links {
  margin-top: 5px;
}
.popup-login-links:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* popup login : E */
/* popup complex : S */
.complex-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  border: 2px solid #25aae1;
  background: #ffffff;
}
.complex-header {
  padding: 15px 20px;
  background: #f9f9f9;
  border-bottom: 1px solid #d8d8d8;
}
.complex-title {
  margin-bottom: 10px;
  color: #222;
}
.complex-title-type {
  width: 58px;
  height: 16px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
.complex-title-type.red {
  border: 1px solid #ed1c24;
  color: #ed1c24;
}
.complex-title-type.yellow {
  border: 1px solid #fcb040;
  color: #fcb040;
}
.complex-title-type.purple {
  border: 1px solid #7030a0;
  color: #7030a0;
}
.complex-title-type.green {
  border: 1px solid #92d050;
  color: #92d050;
}
.complex-title-name {
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
}
.complex-title-price-summary {
  color: #25aae1;
  font-size: 16px;
  font-weight: bold;
}
.complex-title-price-name {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}
.complex-addr {
  color: #222;
}
.complex-body {
  padding: 18px 20px;
}
.complex-overview:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.complex-overview-imgframe {
  float: left;
  width: 134px;
  overflow: hidden;
}
.complex-overview-img {
  width: 100%;
}
.complex-overview-body {
  float: left;
  margin-left: 10px;
  width: 315px;
}
.complex-overview-text {
  margin-top: 2px;
  overflow: hidden;
}
.complex-overview-text:first-child {
  margin-top: 0;
}
.complex-overview-text.price {
  margin-top: 7px;
}
.complex-overview-text.price:first-child {
  margin-top: 0;
}
.complex-overview-title {
  float: left;
  margin-right: 10px;
  width: 54px;
  height: 18px;
  line-height: 18px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  background: #a1b0b6;
  text-align: center;
}
.complex-overview-title.blue {
  background: #25aae1;
}
.complex-overview-data {
  float: left;
  width: 250px;
}
.complex-overview-data-sale {
  color: #666;
  font-weight: bold;
}
.complex-table {
  margin-top: 17px;
}
.complex-table-head-item01 {
  width: 135px;
}
.complex-table-head-item02 {
  width: 45px;
}
.complex-table-head-item03 {
  width: 45px;
}
.complex-table-head-item04 {
  width: 40px;
}
.complex-table-head-item05 {
  width: 40px;
}
.complex-table-head-item06 {
  width: 93px;
}
.complex-table-head-item07 {
  width: 60px;
}
.complex-table-head-price01 {
  width: 80px;
}
.complex-table-head-price02 {
  width: 80px;
}
.complex-table-head-price03 {
  width: 70px;
}
.complex-table-head-price04 {
  width: 90px;
}
.complex-table-head-price05 {
  width: 140px;
}
.complex-table-head-sort {
  display: inline;
  padding: 0;
  width: 10px;
  height: 10px;
  border: 0;
  background: url(../images/bg_btn_toggle.png) no-repeat;
  text-indent: -9999px;
  vertical-align: middle;
}
.complex-table-head-sort.asce {
  background-position: 50% 2px;
}
.complex-table-head-sort.desc {
  background-position: 50% -73px;
}
.complex-table-body {
  height: 200px;
}
.complex-table .scroll-table-tr:hover .complex-btn-detail-view {
  background-position: 0 -18px;
}
.complex-btn-detail-view {
  display: inline;
  padding: 0;
  width: 18px;
  height: 18px;
  border: 0;
  background: url(../images/bg_btn_search_simple_view.png) no-repeat;
  text-indent: -9999px;
}

/* popup complex : E */
/* popup map simple view */
.simple-view {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  min-width: 420px;
  border: 2px solid #25aae1;
}
.simple-view.price {
  min-width: 436px;
}
.simple-view .list-item.image {
  width: 122px;
  float: left;
}
.simple-view .list-item.image .thumb-image {
  width: 100%;
}
.simple-view .right-col {
  float: left;
  margin-left: 10px;
}
.simple-view .list-item-type {
  width: 58px;
  height: 16px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
.simple-view .list-item-type.price {
  width: 100px;
}
.simple-view .list-item-type.red {
  border: 1px solid #ed1c24;
  color: #ed1c24;
}
.simple-view .list-item-type.yellow {
  border: 1px solid #fcb040;
  color: #fcb040;
}
.simple-view .list-item-type.purple {
  border: 1px solid #7030a0;
  color: #7030a0;
}
.simple-view .list-item-type.green {
  border: 1px solid #92d050;
  color: #92d050;
}
.simple-view .list-item-name {
  margin-top: 7px;
  font-size: 15px;
  font-weight: bold;
  color: #222;
}
.simple-view .list-item-detail {
  margin-top: 7px;
  line-height: 1.4;
}
.simple-view .list-item.price {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  color: #25aae1;
}
.simple-view .list-item.spec {
  margin-top: 7px;
}
.simple-view .list-item-data {
  float: left;
  margin: 0 0 0 10px;
}
.simple-view .list-item-data:first-child {
  margin-left: 0;
  padding-left: 0;
}
.simple-view .list-item-data:first-child:after {
  display: none;
}
.simple-view .list-item.btn-search {
  width: 19px;
  height: 18px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  text-indent: -99999em;
  background: url(../images/bg_btn_search_simple_view.png) no-repeat;
}
.simple-view .list-item.btn-search:hover {
  background-position: 0 -19px;
}

/* popup map simple view list type*/
.simple-view-list {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #25aae1;
}
.simple-view-list-top {
  padding-left: 10px;
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #222;
  line-height: 48px;
  border-bottom: 1px solid #d8d8d8;
  background: #f3f3f3;
}
.simple-view-list-scroll {
  min-width: 460px;
  height: 365px;
  overflow-y: auto;
  overflow-x: visible;
}
.simple-view-list-result {
  padding: 15px 10px 5px;
  font-weight: bold;
}
.simple-view-list-item {
  position: relative;
  padding: 10px;
  border-top: 1px solid #d8d8d8;
}
.simple-view-list-item:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.simple-view-list-item.first {
  border-top: 0;
}
.simple-view-list .list-item.image {
  width: 122px;
  float: left;
}
.simple-view-list .list-item.image .thumb-image {
  width: 100%;
}
.simple-view-list .right-col {
  float: left;
  margin-left: 10px;
}
.simple-view-list .list-item-type {
  width: 58px;
  height: 16px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
.simple-view-list .list-item-type.price {
  width: 100px;
}
.simple-view-list .list-item-type.red {
  border: 1px solid #ed1c24;
  color: #ed1c24;
}
.simple-view-list .list-item-type.yellow {
  border: 1px solid #fcb040;
  color: #fcb040;
}
.simple-view-list .list-item-type.purple {
  border: 1px solid #7030a0;
  color: #7030a0;
}
.simple-view-list .list-item-type.green {
  border: 1px solid #92d050;
  color: #92d050;
}
.simple-view-list .list-item-name {
  margin-top: 7px;
  font-size: 15px;
  font-weight: bold;
  color: #222;
}
.simple-view-list .list-item-detail {
  margin-top: 7px;
  line-height: 1.4;
}
.simple-view-list .list-item.price {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  color: #25aae1;
}
.simple-view-list .list-item.spec {
  margin-top: 7px;
}
.simple-view-list .list-item-data {
  float: left;
  margin: 0 0 0 10px;
}
.simple-view-list .list-item-data:first-child {
  margin-left: 0;
  padding-left: 0;
}
.simple-view-list .list-item-data:first-child:after {
  display: none;
}
.simple-view-list .list-item.btn-search {
  width: 19px;
  height: 18px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  text-indent: -99999em;
  background: url(../images/bg_btn_search_simple_view.png) no-repeat;
}
.simple-view-list .list-item.btn-search:hover {
  background-position: 0 -19px;
}

.popup-addinfo-agree {
  margin-top: 15px;
}
.popup-addinfo-agree:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.popup-addinfo-agree-left {
  float: left;
  box-sizing: border-box;
  width: 33%;
}
.popup-addinfo-agree-center {
  float: left;
  box-sizing: border-box;
  width: 34%;
}
.popup-addinfo-agree-right {
  float: right;
  box-sizing: border-box;
  width: 33%;
  text-align: right;
}
.popup-addinfo-agree-view {
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background: #cbcbcb;
  vertical-align: middle;
}

.deal-complete {
  margin-top: 30px;
  text-align: center;
}
.deal-complete-check {
  display: inline-block;
}
.deal-complete-msg {
  margin-top: 25px;
}
.deal-complete-confirm {
  margin: 25px 0 30px;
  text-align: center;
}
.deal-complete-confirm .btn-fill {
  margin: 0 3px;
}

.search-estate {
  padding: 10px 10px 0 10px;
  border: 1px solid #ddd;
}
.search-estate-regional {
  padding: 20px 4px;
}
.search-estate-regional:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.search-estate-regional-list {
  margin: 0 9px;
  float: left;
  line-height: 1.8;
}
.search-estate-regional-link {
  color: #666;
}
.search-estate-regional-link:hover {
  color: #25aae1;
  border-bottom: 1px solid #25aae1;
}

/* ask registering estate */
.register-popup {
  margin-left: -460px;
  width: 920px;
  padding: 0 0 20px 0;
}
.register-popup.no-scroll {
  padding: 20px;
}
.register-popup-scroll {
  height: 680px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px 20px 0 20px;
}
.register-popup .part-top {
  margin: 30px 0 15px;
}
.register-popup .part-top:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.register-popup .part-top.no-top {
  margin-top: 0;
}
.register-popup .part-top.no-bottom {
  margin-bottom: 0;
}
.register-popup .part-title {
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #222;
  margin-bottom: 12px;
}
.register-popup .part-subtitle {
  margin-top: 7px;
}
.register-popup .part-mid:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.register-popup .part-mid.border-bottom {
  border-bottom: 1px solid #222;
}
.register-popup .part-mid-title {
  margin: 20px 0 15px;
}
.register-popup .part-mid .list-description {
  margin-bottom: 10px;
}
.register-popup .part-bottom {
  margin: 30px 0 100px;
  text-align: center;
}
.register-popup .part-bottom:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.register-popup .part-bottom.no-top {
  margin-top: 0;
}
.register-popup .part-bottom.no-bottom {
  margin-bottom: 0;
}

/*# sourceMappingURL=popup.css.map */
