.list{

  &-description{

    padding:25px;
    border:{
      top:1px solid $line-gray;
      bottom:1px solid $line-gray;
    }
    background: $bg-white-gray;

    .list-item{
      position:relative;
      padding-left:10px;

      line-height:1.6;

      &:after{
        content:"";
        display:block;
        width:2px;
        height:2px;

        position:absolute;
        top:9px;
        left:0;

        background:$dark-gray;
      }

      &.em-red:after {
        background:$main-red;
      }
    }
  }
}

.scroll-area{
  border:1px solid $light-gray;
  border-radius:3px;

  overflow-x:hidden;
  overflow-y:auto;
}

.chart{

  &-view {
    width: 25px;
    height: 25px;

    display: inline-block;

    line-height: 25px;
    text-indent: -99999em;

    border: 0;

    background: url(../images/icon_chart.png) no-repeat 0 -40px;

    &.on {
      background-position: 0 0;
    }
  }

  &-delete{
    width: 25px;
    height: 25px;

    display: inline-block;

    line-height: 25px;
    text-indent: -99999em;

    border: 0;

    background: url(../images/icon_btn_delete.png) no-repeat 0 0;
  }
}

.ui-datepicker {
  display:none;
  margin-top:2px;
  padding:10px;
  border:2px solid $orange;
  background:$white;

  &-header {
    position:relative;
    padding:10px 0;
    background:$white-bg-gray;
    border-radius:2px;
  }

  &-prev,
  &-next {
    @include size(30);
    position:absolute;
    top:10px;
    box-sizing:border-box;
    border-radius:5px;
    border:1px solid $light-gray;
    text-indent:-9999px;
    background:$white url(../images/sprite_pagination.png) no-repeat;
    cursor:pointer;
  }

  &-prev {
    left:10px;
    background-position:-28px 0;
  }

  &-next {
    right:10px;
    background-position:-56px 0;
  }

  &-title {
    height:30px;
    line-height:30px;
    font-size:16px;
    font-weight:bold;
    color:$dark;
    text-align:center;
  }

  &-calendar {
    width:259px;

    th,
    td {
      width:37px;
      height:37px;
    }

    th {
      font-weight:bold;
    }

    span,
    a {
      position:relative;
      display:block;
      height:100%;
      line-height:37px;
      text-align:center;
      color:$dark;
    }

    th span[title="Saturday"],
    .ui-datepicker-sat a {
      color:$blue;
    }

    th span[title="Sunday"],
    .ui-datepicker-sun a {
      color:$red;
    }
  }

  .ui-state-highlight {
    color:$white;
    font-weight:bold;

    &:after {
      @include size(29);
      content:"";
      position:absolute;
      top:4px;
      left:3px;
      display:block;
      border-radius:100%;
      background:$orange;
      z-index:-1;
    }
  }

  .ui-state-active {
    &:after {
      @include size(28);
      content:"";
      position:absolute;
      top:4px;
      left:3px;
      display:block;
      border:1px solid $orange;
      border-radius:100%;
    }
  }
}

.tab {

  &-list {
    @include clear();
    height:32px;

    &-item {
      position:relative;
      float:left;
      padding:0 20px 0 21px;

      &:after {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:1px;
        height:17px;
        background:$line-gray;
      }

      &:first-child {
        padding-left:0;

        &:after {
          display:none;
        }
      }
    }

    &-link {
      position:relative;
      display:block;
      padding-bottom:15px;
      color:$gray;
      font-size:18px;
      font-weight:bold;
      line-height:1;

      &.on {
        color:$dark;

        &:after {
          content:"";
          position:absolute;
          bottom:-2px;
          left:0;
          width:100%;
          height:4px;
          background:$main-blue;
        }
      }

    }

  }

}

.sort-tab {
  margin-top:35px;

  &-list {
    @include clear();
    height:40px;

    &-item {
      float:left;
      width:12.5%;

      &:first-child .sort-tab-list-link {
        border-left:1px solid $line-gray;
      }
    }

    &-link {
      position:relative;
      display:block;
      box-sizing:border-box;
      width:100%;
      height:40px;
      line-height:40px;
      color:$gray;
      font-size:14px;
      font-weight:bold;
      text-align:center;
      border-top:1px solid $line-gray;
      border-right:1px solid $line-gray;

      &.on {
        color:$main-blue;

        &:after {
          content:"";
          position:absolute;
          top:-1px;
          left:-1px;
          width:100%;
          height:3px;
          border-left:1px solid $main-blue;
          border-right:1px solid $main-blue;
          background:$main-blue;

        }
      }

    }

  }

}

.calendar {
  @include clear();

  &-input {
    float:left;
    padding-left:1px;
    width:90px;
    text-align:center;
  }

  &-btn {
    float:left;
    padding:0;
    width:37px;
    height:37px;
    border:1px solid $form-gray;
    border-left:0;
    text-indent:-9999px;
    background:$bg-white-gray url(../images/icon_btn_calendar.png) no-repeat 50% 50%;
  }
}

.search-spinner {
  @include clear();
  box-sizing:border-box;
  height:37px;
  border:1px solid $form-gray;
  background:$white;

  &-left,
  &-right {
    float:left;
    padding:0;
    width:19px;
    height:100%;
    text-indent:-9999px;
    border:0;
    background:none;
  }

  &-left {
    border-right:1px solid $bg-light-gray;
    background:url(../images/bg_arrow_small.png) no-repeat 6px 50%;
  }

  &-right {
    border-left:1px solid $bg-light-gray;
    background:url(../images/bg_arrow_small.png) no-repeat -72px 50%;
  }

  &-text {
    float:left;
    width:35px;
    height:100%;
    line-height:35px;
    text-align:center;

    &.year {
      width:55px;
    }
  }
}

.sorting {
  &-amount {
    height:26px;
    line-height:26px;
  }

  &-label-box {
    margin-top:4px;
  }
}

.big-list {
  @include clear();
  padding-top:30px;
  border-top:2px solid $dark;

  &-item {
    margin:0 10px 20px 10px;
    padding-bottom:10px;
    float:left;
    width:318px;
    border:1px solid $line-gray;

    &.first {
      margin-left:0;
    }

    &.last {
      margin-right:0;
    }
  }

  &-thumb {
    border-bottom:1px solid $line-gray;
  }

  &-overview {
    margin-top:20px;
    margin-left:20px;
    height:62px;

    &-item {
      margin-bottom:10px;
    }

    &-title {
      display:inline-block;
      margin-right:7px;
      width:62px;
      height:16px;
      color:$white;
      font-size:12px;
      font-weight:bold;
      text-align:center;
      background:$main-blue;

      &.yellow {
        background:$main-yellow;
      }
    }
  }

  &-detail {
    margin:0 25px;
    padding:25px 0;
    height:65px;
    border-top:1px solid $line-gray;

    &-text {
      line-height:1.5;
    }
  }
}

.tooltip {
  display:none;
  padding:20px;
  border:1px solid $main-blue;
  color:$dark-gray;
  font-size:13px;
  background:$white;
  text-align:left;
  z-index:30;

  &.on {
    display:block;
  }

  &-wrap {
    margin-top:20px;
    padding-top:20px;
    border-top:1px solid $line-gray;

    &:first-child {
      margin:0;
      padding:0;
      border-top:0;
    }
  }

  &-title {
    margin-bottom:7px;
    color:$dark-gray;
    font-size:14px;
  }

  &-text {
    margin-top:5px;

    &:first-child {
      margin-top:0;
    }

    &.gray {
      color:$gray;
    }

    &.icon-foot,
    &.icon-elv,
    &.icon-sun,
    &.icon-car,
    &.icon-circle,
    &.icon-house,
    &.icon-coin {
      padding-left:22px;
      background:url(../images/icon_tooltip_more.png) no-repeat;
      white-space:nowrap;
    }

    &.icon-foot {
      background-position:0 0;
    }

    &.icon-elv {
      background-position:0 -21px;
    }

    &.icon-sun {
      background-position:0 -44px;
    }

    &.icon-car {
      background-position:0 -66px;
    }

    &.icon-circle {
      background-position:0 -88px;
    }

    &.icon-house {
      background-position:0 -110px;
    }

    &.icon-coin  {
      background-position:0 -131px;
    }

  }

  &-price {
    &-date {
      margin-right:5px;
      color:$gray;
    }

    &-up {
      padding-right:10px;
      color:$main-blue;
      background:url(../images/icon_up.png) no-repeat 100% 50%;
    }

    &-down {
      padding-right:10px;
      color:$main-red;
      background:url(../images/icon_down.png) no-repeat 100% 50%;
    }
  }

  &.price {
    position:absolute;
    top:95px;
    left:-50px;
    width:254px;
  }

  &.data {
    position:absolute;
    top:120px;
    left:20px;
    min-width:130px;
  }


}

.page {
  margin-top:30px;
  text-align:center;
  font-size:0;

  &-item {
    display:inline-block;
    margin:0 1px;
    width:22px;
    height:22px;
    line-height:22px;
    color:$dark-gray;
    font-size:13px;
    font-weight:bold;
    vertical-align:middle;
    border:1px solid $line-gray;

    &:hover,
    &:active {
      border-color:$main-blue;
    }

    &.on {
      color:$white;
      background:$main-blue;
      border-color:$main-blue;
    }

    &.prev,
    &.next {
      text-indent:-9999px;
      background:url(../images/bg_arrow_page.png) no-repeat;
    }

    &.prev {
      background-position:7px 7px;
    }

    &.next {
      background-position:-27px 7px;
    }


  }

}

.label-toggle {

  &-wrap {
    position:relative;

    &.half-width {
      width:400px;
    }

    &.quarter-width {
      width:200px;
    }
  }

  &-text {
    position:absolute;
    top:10px;
    left:5px;
    font-weight:normal;
    color:$gray;
  }

}