.list{

  &-column {
    @include clear();
    margin-top:5px;
    border:{
      top:1px solid $line-gray;
      bottom:1px solid $line-gray;
    }
    background: $bg-white-gray;

    .list-description.left-float,
    .list-description.right-float {
      margin:0;
      box-sizing:border-box;
      padding:20px;
      width:50%;
      border:0;
    }
  }

  &-description{

    padding:25px;
    border:{
      top:1px solid $line-gray;
      bottom:1px solid $line-gray;
    }
    background: $bg-white-gray;

    .list-item{
      position:relative;
      padding-left:10px;

      line-height:1.6;

      &:after{
        content:"";
        display:block;
        width:2px;
        height:2px;

        position:absolute;
        top:9px;
        left:0;

        background:$dark-gray;
      }

      &.em-red:after {
        background:$main-red;
      }
    }
  }
}

.tab {

  &-list {
    @include clear();
    height:32px;

    &-item {
      position:relative;
      float:left;
      padding:0 20px 0 21px;

      &:after {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:1px;
        height:17px;
        background:$line-gray;
      }

      &:first-child {
        padding-left:0;

        &:after {
          display:none;
        }
      }
    }

    &-link {
      position:relative;
      display:block;
      padding-bottom:15px;
      color:$gray;
      font-size:18px;
      font-weight:bold;
      line-height:1;

      &.on {
        color:$dark;

        &:after {
          content:"";
          position:absolute;
          bottom:-2px;
          left:0;
          width:100%;
          height:4px;
          background:$main-blue;
        }
      }

    }

  }

}

.sort-tab {
  margin-top:35px;

  &-list {
    @include clear();
    height:40px;

    &-item {
      float:left;
      width:12.5%;

      &:first-child .sort-tab-list-link {
        border-left:1px solid $line-gray;
      }
    }

    &-link {
      position:relative;
      display:block;
      box-sizing:border-box;
      padding:0;
      width:100%;
      height:40px;
      line-height:40px;
      color:$gray;
      font-size:14px;
      font-weight:bold;
      text-align:center;
      border-top:1px solid $line-gray;
      border-bottom:0;
      border-right:1px solid $line-gray;
      border-left:0;
      background:none;

      &.on {
        color:$main-blue;

        &:after {
          content:"";
          position:absolute;
          top:-1px;
          left:-1px;
          width:100%;
          height:3px;
          border-left:1px solid $main-blue;
          border-right:1px solid $main-blue;
          background:$main-blue;

        }
      }

    }

    &.yellow {

      .sort-tab-list-link.on {
        color:$main-yellow;

        &:after {
          border-color:$main-yellow;
          background:$main-yellow;
        }
      }
    }

  }

  &.half-tab .sort-tab-list-item {
    width:50%;
  }

}

.calendar {
  @include clear();

  &-input {
    float:left;
    padding-left:1px;
    width:90px;
    text-align:center;
  }

  &-btn {
    float:left;
    padding:0;
    width:37px;
    height:37px;
    border:1px solid $form-gray;
    border-left:0;
    text-indent:-9999px;
    background:$bg-white-gray url(../images/icon_btn_calendar.png) no-repeat 50% 50%;
  }
}

.search-spinner {
  @include clear();
  box-sizing:border-box;
  height:37px;
  border:1px solid $form-gray;
  background:$white;

  &-left,
  &-right {
    float:left;
    padding:0;
    width:19px;
    height:100%;
    text-indent:-9999px;
    border:0;
    background:none;
  }

  &-left {
    border-right:1px solid $bg-light-gray;
    background:url(../images/bg_arrow_small.png) no-repeat 6px 50%;
  }

  &-right {
    border-left:1px solid $bg-light-gray;
    background:url(../images/bg_arrow_small.png) no-repeat -72px 50%;
  }

  &-text {
    float:left;
    width:35px;
    height:100%;
    line-height:35px;
    text-align:center;

    &.year {
      width:55px;
    }
  }
}

.sorting {
  &-amount {
    height:26px;
    line-height:26px;
    font-weight:bold;
  }

  &-label-box {
    @include clear();
    margin-top:4px;
  }
}

.big-list {
  @include clear();
  padding-top:30px;
  border-top:2px solid $dark;

  &-item {
    margin:0 10px 20px 10px;
    padding-bottom:10px;
    float:left;
    width:318px;
    border:1px solid $line-gray;

    &.first {
      margin-left:0;
    }

    &.last {
      margin-right:0;
    }
  }

  &-thumb {
    border-bottom:1px solid $line-gray;
  }

  &-addr {
    margin:14px 20px 0 20px;
    height:82px;
    border-bottom:1px solid $line-gray;

    &02 {
      display:block;
      margin-top:8px;
      font-size:18px;
      font-weight:bold;
      color:$dark;
    }

    &-text {
      margin-top:9px;
      font-weight:bold;
    }
  }

  &-overview {
    margin-top:20px;
    margin-left:20px;
    height:62px;

    &.line3 {
      height:78px;
    }

    &-item {
      margin-bottom:10px;
    }

    &-title {
      display:inline-block;
      margin-right:7px;
      width:62px;
      height:16px;
      color:$white;
      font-size:12px;
      font-weight:bold;
      text-align:center;
      background:$main-blue;

      &.yellow {
        background:$main-yellow;
      }

      &.gray {
        background:$gray-blue;
      }
    }
  }

  &-detail {
    margin:0 25px;
    padding:25px 0;
    height:65px;
    border-top:1px solid $line-gray;

    &-text {
      line-height:1.5;
    }
  }
}


.slide-list {
  @include clear();
  padding-top:30px;
  border-top:2px solid $dark;

  &-item {
    @include clear();
    margin:0 0 20px 18px;
    float:left;
    width:489px;
    height:193px;
    border:1px solid $line-gray;

    &.first {
      margin:0 0 20px 0;
    }

  }

  &-thumb {
    float:left;
    width:213px;
    height:194px;

    /* Style the thumbnails */
    .pika-thumbs {
      padding:0;
      height:49px;
      li {
        position:relative;
        width:71px;
        height:48px;
        padding:0;
        //overflow: hidden;
        float: left;
        margin:0;
        cursor:pointer;
        .clip {

          img {
            display:block;
            width:100%;
            box-sizing:border-box;
          }
        }

        &.active:after {
          content:"";
          position:absolute;
          top:0;
          left:0;
          width:65px;
          height:42px;
          border:3px solid $main-blue;
        }
      }
    }

    /* The stage is the wrapper. The image fills 100% the height of the stage */
    .pika-stage, .pika-textnav {
      width: 213px;
    }

    .pika-stage {
      position: relative;
      text-align: center;
      height: 145px;
      img {
        height: 100%;
      }
      .caption {
        position: absolute;
        background: #000;
        background: rgba(0, 0, 0, 0.75);
        border: 1px solid #141414;
        font-size: 11px;
        color: #fafafa;
        padding: 10px;
        text-align: right;
        bottom: 50px;
        right: 10px;
        p {
          padding: 0;
          margin: 0;
          line-height: 14px;
        }
      }
    }

    /* Ths play, pause, prev and next buttons */
    .pika-imgnav a {
      position: absolute;
      display: block;
      width:29px;
      height:29px;
      text-indent:-9999px;
      background:url(../images/bg_btn_detail_slide_small.png) no-repeat;
      z-index: 3;
      cursor:pointer;
      &.previous {
        top:58px;
        left:0;
      }
      &.next {
        top:58px;
        right:0;
        background-position:-29px 0;
      }
      &.play {
        display:none;
      }
    }

    /* The previous and next textual buttons */
    .pika-textnav {
      display:none;
    }

    .pika-counter {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      background: rgba(0, 0, 0, 0.7);
      font-size: 11px;
      padding: 3px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    .jcarousel-container {
      position:absolute;
      bottom:0;
      left:0;
    }

    .jcarousel-clip {
      overflow:hidden;
    }
  }

  &-addr {
    position:relative;
    float:left;
    margin:20px 0 0 20px;
    width:236px;
    height:75px;
    overflow:hidden;

    &02 {
      display:block;
      margin-top:5px;
      font-size:16px;
      font-weight:bold;
      color:$dark;
    }

    &-info {
      position:absolute;
      top:0;
      right:0;
      padding:0 0 0 19px;
      width:49px;
      height:16px;
      line-height:16px;
      font-size:12px;
      color:$white;
      background:$main-yellow url(../images/icon_loc_btn.png) no-repeat 3px 2px;
    }
  }

  &-overview {
    float:left;
    margin:0 0 0 20px;

    &-item {
      margin-bottom:7px;
    }

    &-title {
      display:inline-block;
      margin-right:7px;
      width:62px;
      height:16px;
      color:$white;
      font-size:12px;
      font-weight:bold;
      text-align:center;
      background:$gray-blue;

      &.yellow {
        background:$main-yellow;
      }

      &.blue {
        background:$main-blue;
      }
    }
  }

}

.tooltip {
  display:none;
  position:absolute;
  padding:20px;
  border:1px solid $main-blue;
  color:$dark-gray;
  font-size:13px;
  background:$white;
  text-align:left;
  z-index:30;

  &.on {
    display:block;
  }

  &-wrap {
    margin-top:20px;
    padding-top:20px;
    border-top:1px solid $line-gray;

    &:first-child {
      margin:0;
      padding:0;
      border-top:0;
    }
  }

  &-title {
    @include clear();
    margin-bottom:7px;
    color:$dark-gray;
    font-size:14px;
  }

  &-text {
    @include clear();
    margin-top:5px;

    &:first-child {
      margin-top:0;
    }

    &.gray {
      color:$gray;
    }

    &.icon-foot,
    &.icon-elv,
    &.icon-sun,
    &.icon-car,
    &.icon-circle,
    &.icon-house,
    &.icon-coin {
      padding-left:22px;
      background:url(../images/icon_tooltip_more.png) no-repeat;
      white-space:nowrap;
    }

    &.icon-foot {
      background-position:0 0;
    }

    &.icon-elv {
      background-position:0 -21px;
    }

    &.icon-sun {
      background-position:0 -44px;
    }

    &.icon-car {
      background-position:0 -66px;
    }

    &.icon-circle {
      background-position:0 -88px;
    }

    &.icon-house {
      background-position:0 -110px;
    }

    &.icon-coin  {
      background-position:0 -131px;
    }

  }

  &-price {
    &-date {
      margin-right:5px;
      color:$gray;
    }

    &-up {
      padding-right:10px;
      color:$main-blue;
      background:url(../images/icon_up.png) no-repeat 100% 50%;
    }

    &-down {
      padding-right:10px;
      color:$main-red;
      background:url(../images/icon_down.png) no-repeat 100% 50%;
    }
  }

  &.price {
    position:absolute;
    top:95px;
    left:-50px;
    width:254px;
  }

  &.data {
    position:absolute;
    top:120px;
    left:20px;
    min-width:130px;
  }


}

.page {
  margin-top:30px;
  text-align:center;
  font-size:0;

  &-item {
    display:inline-block;
    margin:0 1px;
    width:22px;
    height:22px;
    line-height:22px;
    color:$dark-gray;
    font-size:13px;
    font-weight:bold;
    vertical-align:middle;
    border:1px solid $line-gray;

    &:hover,
    &:active {
      border-color:$main-blue;
    }

    &.on {
      color:$white;
      background:$main-blue;
      border-color:$main-blue;
    }

    &.prev,
    &.next {
      text-indent:-9999px;
      background:url(../images/bg_arrow_page.png) no-repeat;
    }

    &.prev {
      background-position:7px 7px;
    }

    &.next {
      background-position:-27px 7px;
    }


  }

  &.yellow {

    .page-item:hover,
    .page-item:active {
      border-color:$main-yellow;
    }

    .page-item.on {
      color:$white;
      background:$main-yellow;
      border-color:$main-yellow;
    }

  }

}

.label-toggle {

  &-wrap {
    position:relative;

    &.half-width {
      width:400px;
    }

    &.quarter-width {
      width:200px;
    }
  }

  &-text {
    position:absolute;
    top:10px;
    left:5px;
    font-weight:normal;
    color:$gray;
  }

}

.board-box {
  position:relative;
  box-sizing:border-box;
  padding:30px;
  border:1px solid $line-gray;

  &-title {
    margin-bottom:28px;
    padding-bottom:8px;
    font-size:18px;
    font-weight:bold;
    color:$dark;
    line-height:1;
    border-bottom:1px solid $dark;
  }

  &-first {
    position:relative;
    margin-bottom:20px;
    height:105px;
    overflow:hidden;

    &-link:hover .board-box-first-title {
      text-decoration:underline;
    }

    &-title {
      display:block;
      font-size:16px;
      color:$main-blue;
      line-height:1.5;
    }

    &-body {
      margin-top:5px;
      display:block;
      color:$gray;
    }

    &-date {
      position:absolute;
      right:0;
      bottom:0;
      color:$dark;
    }

  }

  &-list {
    height:55px;
    overflow:hidden;

    &-item {
      margin-top:5px;

      &:first-child {
        margin-top:0;
      }

    }

    &-link {
      position:relative;
      display:block;
      padding-left:10px;
      overflow:hidden;

      &:after {
        content:"";
        display:block;
        position:absolute;
        top:6px;
        left:0;
        width:2px;
        height:2px;
        background:$main-blue;
      }

      &:hover .board-box-list-text {
        text-decoration:underline;
      }

    }

    &-text {
      color:$dark;
      float:left;

      &.has-date {
        width:80%;
      }
    }

    &-date {
      float:right;
      width:20%;
      color:$gray;
      text-align:right;
    }

  }

  &-more {
    position:absolute;
    top:30px;
    right:30px;
    width:17px;
    height:17px;
    text-indent:-9999px;
    background:url(../images/bg_btn_more.png) no-repeat;
  }

}

.info-box {
  @include clear();
  box-sizing:border-box;
  padding:20px 30px;
  height:170px;
  background:$bg-light-gray;

  &-head {
    float:left;
  }

  &-title {
    margin-top:7px;
    padding-top:21px;
    font-size:28px;
    color:$dark;
    background:url(../images/bg_info_box_title.png) no-repeat;
  }

  &-subtitle {
    font-size:28px;
    font-weight:900;
    color:$dark;
  }

  &-msg {
    margin-top:10px;
    color:$dark;
  }

  &-body {
    float:right;
  }
}

.bottom-info {
  padding:20px 0 0 0;
  border-top:1px solid $line-gray;

  &-msg {
    position:relative;
    margin:8px 0 0 0;
    padding:0 0 0 9px;
    color:$dark-gray;
    font-size:12px;

    &:first-child {
      margin:0;
    }

    &:after {
      content:"";
      position:absolute;
      top:7px;
      left:0;
      width:2px;
      height:2px;
      background:$dark-gray;
    }
  }
}
