.input{
  width:$box-default-width;
  height:$box-default-height;
  padding-left:5px;

  color:$dark-gray;
  border:1px solid $form-gray;
  box-sizing:border-box;

  &-wrap {
    position:relative;
  }

  &.mini{
    width:50px;
  }

  &.small{
    width:60px;
  }

  &.med{
    width:80px;
  }

  &.med-half{
    width:90px;
  }

  &.half-width {
    width:115px;
  }

  &.double {
    width:490px;
  }

  &.full-width {
    width:100%;
  }

  &.pwd{
    background:url(../images/msg_form_pwd.png) no-repeat 5px 11px;

    &.focus{
      background:none;
    }

    &-confirm{
      background:url(../images/msg_form_pwd.png) no-repeat 5px -48px;

      &.focus{
        background:none;
      }
    }
  }

  &.gray-bg {
    background-color:$bg-white-gray;
  }

  &.join-reason {
    width:330px;
  }

  &.search-option-full {
    width:100%;
  }

  &.search-option-fromto {
    padding-right:5px;
    width:210px;
    text-align:right;
  }

  &.sort-detail-fromto {
    padding-right:5px;
    width:135px;
    text-align:right;

    &.long-unit{
      width:125px;
    }
  }

  &.search-interior-normal {
    width:130px;
  }

  &.search-interior-full {
    width:810px;
  }

}

.select {
  border: 1px solid #CDCDCD;
  background: #FFFFFF;
  position: relative;

  &-wrapper{
    width:$box-default-width;
    position: relative;
    cursor: pointer;

    &.popup-select-width{
      width:105px;
    }

    &.half-width{
      width:115px;
    }

    &.plus-half-width {
      width:365px;
    }

    &.sort-wide {
      width:164px;
    }

    &.sort-med{
      width:150px;
    }

    &.sort-normal {
      width:106px;
    }

    &.search-med{
      width:88px;
    }


    &.med-half{
      width:90px;
    }

    &.small{
      width:60px;
    }

    &.mini {
      width:50px;
    }

    &.search-interior-normal {
      width:130px;
    }

    &.search-interior-wide {
      width:390px;
    }

    &.subway-type {
      width:75px;
    }
  }

  .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 25px 0 10px;
    font-size: 12px;
    line-height: 35px;
    color: #666666;
    height: 35px;

    &.narrow{
      margin:0 25px 0 5px;
    }
  }

  .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 25px;
    height: 38px;
    color: #999999;
    text-align: center;
    font: 0/0 a;
    *font: 38px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
  }
  .button:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #999999;
    border-bottom: none;
  }

  /* Items box */
  &-items {
    display: none;
    width:100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #C4C4C4;
    z-index: 90;
    box-shadow: 0 0 10px -6px;
    box-sizing:border-box;
    overflow:auto;
    max-height:192px;

    &.on{
      display:block;
    }
  }
  &-items &-scroll {
    height: 100%;
    overflow: auto;
  }
  &-above &-items {
    top: auto;
    bottom: 100%;
  }
  &-items ul, &-items li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px;
  }
  &-items li {
    display: block;
    padding: 8px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #EEE;
    color: #666;
    cursor: pointer;
  }
  &-items li.selected {
    background: #EFEFEF;
    color: #444;
  }
  &-items li:hover {
    background: #F0F0F0;
    color: #444;
  }
  &-items .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

}

.textarea {
  box-sizing:border-box;
  width:100%;
  height:80px;
  padding:5px;
  color:$dark-gray;
  border:1px solid $form-gray;

  &.short{
    height:37px;
  }

  &.big{
    height:160px;
  }
}

.btn{
  &-fill{
    @include btn(195, 40, 16, $white, 38, 0, $dark-gray);
    @include inline-block();

    &.blue{
      background:$main-blue;
    }

    &.yellow{
      background:$main-yellow;
    }

    &.left {
      margin-right:7px;
    }

    &.btn-inline {
      margin-left:10px;
      padding:0 10px;
      width:auto;
      height:auto;
      font-size:inherit;
      line-height:inherit;
    }

  }

  &-med {
    @include btn(112, 29, 13, $white, 29, 0, $dark-gray);
    @include inline-block();
    text-align:center;
    border-radius:2px;

    &.gray {
      background:$btn-gray;
    }

    &.darkblue {
      background:$btn-darkblue;
    }

    &.orange {
      background:$main-orange;
    }

    &.yellow {
      background:$main-yellow;
    }

    &.icon {

      &-plus {
        padding:0 0 0 38px;
        text-align:left;
        background:$btn-gray url(../images/icon_plus.png) no-repeat 22px 50%;

        &.interior-add {
          padding:0 0 0 27px;
          background-position:9px 50%;
        }
      }

      &-gear {
        padding:0 0 0 27px;
        text-align:left;
        background:$btn-gray url(../images/icon_gear02.png) no-repeat 9px 50%;
      }

    }
  }

  &-join{
    @include btn(126, 28, 14, $dark-gray, 25, 1px solid $dark-gray, $white);
    @include center();

    &:hover{
      color:$white;
      border-color:$main-blue;
      background:$main-blue;
    }
  }

  &-calendar{
    width:14px;
    height:30px;

    text-indent:-99999em;
    border:0;
    background:url(../images/icon_btn_calendar.gif) no-repeat;
  }

  &-table-setting{
    width:23px;
    height:22px;

    float:right;

    text-indent:-99999em;

    border:0;
    background:url(../images/btn_tb_setting.png);
  }

  &-form {
    @include btn(115, 37, 13, $white, 34, 0, $dark-gray);
    @include inline-block();
  }

  &-login-fb {
    @include btn(134, 37, 13, $white, 37, 0, $fb-color);
    padding:0;
    padding-left:32px;
    text-align:left;
    background:$fb-color url(../images/icon_fb.png) no-repeat 14px 9px;
  }

  &-login-naver {
    @include btn(134, 37, 13, $white, 37, 0, $naver-color);
    padding:0;
    padding-left:46px;
    text-align:left;
    background:$naver-color url(../images/icon_naver.png) no-repeat 19px 11px;
  }

  &-view-all-list {
    @include btn(88, 27, 13, $white, 25, 0, $main-blue);
    padding:0;
    padding-left:26px;
    background:$main-blue url(../images/icon_all_list.png) no-repeat 10px 50%;
  }

  &-table-function {
    display:inline-block;
    padding:0 2px;
    height:18px;
    color:$dark-gray;
    font-size:12px;
    font-weight:bold;
    line-height:1;
    background-color:#fff;
    border:1px solid $form-gray;
    border-radius:2px;

    &.wide {
      width:112px;
    }

    &.half {
      width:55px;
    }

    &.left-float {
      margin-right:2px;
    }

  }

  &-table-change-price {
    display:inline-block;
    width:80px;
    height:16px;
    line-height:1;
    color:$white;
    background:$gray;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    border:0;
  }

  &-table-btn {
    display:inline-block;
    margin:2px 0;
    padding:0;
    width:55px;
    height:16px;
    line-height:1;
    color:$white;
    background:$gray;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    border:0;
  }

  &-function {
    padding:0 2px;
    height:26px;
    line-height:25px;
    color:$white;
    font-weight:bold;
    border:0;
    background:$gray;

    &.left-float{

      &.left{
        margin-right:5px;
      }

      &.right{
        margin-left:5px;
      }

    }

    .right-float{

      &.left{
        margin-right:5px;
      }

      &.right{
        margin-left:5px;
      }

    }

    &.fix-width {
      width:65px;
    }
  }

  &-cal-term {
    float:left;
    margin-left:8px;
    padding:0;
    box-sizing:border-box;
    width:64px;
    height:37px;
    text-align:center;
    border:1px solid $form-gray;
    color:$gray;
    background:none;

    &:first-child {
      margin-left:0;
    }

    &.blue {
      color:$main-blue;
      border-color:$main-blue;
    }

    &.yellow {
      color:$main-yellow;
      border-color:$main-yellow;
    }

  }

  &-list {

    &-compare,
    &-unit,
    &-loc-search,
    &-loc-reset,
    &-loc-close {
      float:left;
      margin-right:6px;
      padding:0;
      padding-left:27px;
      width:88px;
      height:27px;
      border:0;
      color:$white;
      text-align:left;
    }

    &-compare {
      background:$main-blue url(../images/icon_compare.png) no-repeat 10px 50%;
    }

    &-unit {
      background:$main-blue url(../images/icon_unit.png) no-repeat 10px 50%;
    }

    &-loc-search {
      display:inline-block;
      float:none;
      margin:0 3px;
      padding-left:35px;
      background:$main-yellow url(../images/icon_loc_btn.png) no-repeat 23px 8px;
    }

    &-loc-reset {
      display:inline-block;
      float:none;
      margin:0 3px;
      background:$dark-gray url(../images/icon_loc_btn.png) no-repeat 10px -27px;
    }

    &-loc-close {
      display:inline-block;
      float:none;
      margin:0 3px;
      padding-left:35px;
      background:$dark-gray url(../images/icon_loc_btn.png) no-repeat 23px -61px;
    }

  }

  &-small {
    height:26px;
    padding:0 5px;
    color:$white;
    border:0;
    background:$dark-gray;

    &.blue {
      background:$main-blue;
    }

    &.gray {
      background:$gray;
    }
  }

  &-item-submit {
    padding-left:52px;
    text-align:left;
    background:$main-blue url(../images/icon_save.png) no-repeat 30px 13px;

    &.yellow {
      background:$main-yellow url(../images/icon_save.png) no-repeat 30px 13px;
    }
  }

  &-table-more {
    width:90px;
    padding-left:15px;
    text-align:left;

    background:$main-blue url(../images/bg_btn_toggle_white.png) no-repeat 60px -82px;

    &.on {
      background-position:60px 9px;
    }

    &.yellow {
      background-color:$main-yellow;
    }
  }

  &-add {
    @include btn(37, 37, 13, $white, 34, 0, $dark-gray);
  }

  &-remove {
    @include btn(37, 37, 13, $white, 34, 0, $dark-gray);
  }

  &-print {
    @include btn(88, 27, 13, $white, 25, 0, $main-blue);
    padding:0;
    padding-left:20px;
    background:$main-blue url(../images/icon_print.png) no-repeat 15px 50%;
  }

  &-map {
    @include btn(112, 27, 13, $white, 25, 0, $main-blue);
    padding:0;
    padding-left:20px;
    background:$main-blue url(../images/icon_pin.png) no-repeat 10px -79px;
  }

}

.check{

  &-wrap{
    position:relative;

    &.center{
      display:inline-block;
    }

  }

  &-box{
    position:absolute;
    top:3px;
    left:1px;

    margin:0;
    padding:0;

    &:checked + .check-label:before{
      content:"";
      display:block;
      position:absolute;
      width:6px;
      height:6px;

      z-index:10;
      top:7px;
      left:5px;

      background:$dark;
    }

    &:disabled + .check-label:after{
      background:$light-gray;
    }
  }

   &-label{
    display:block;

    height:20px;
    line-height:19px;

    padding-left:26px;

    color:$dark-gray;

    &.blind{
      padding-left:18px;
      width:0;
      text-indent:-99999em;
      overflow:hidden;
    }

    &:after{
      content:"";
      display:block;

      width:16px;
      height:16px;

      position:absolute;
      top:2px;
      left:0;

      border:1px solid $form-gray;
      background:$white;
      box-sizing:border-box;
    }
  }

  &-label-blank {
    width:0;
    padding-left:20px;
    text-indent:-9999px;
  }

}

.radio {

  &-wrap{
    position:relative;

    &.center{
      display:inline-block;
    }

  }

  position:absolute;
  top:1px;
  left:1px;

  margin:0;

  &-label{
    display:block;

    height:20px;
    line-height:19px;

    padding-left:30px;

    color:$dark-gray;

    &.blind{
      padding-left:20px;
      width:0;
      text-indent:-99999em;
      overflow:hidden;
    }

    &:after{
      content:"";
      display:block;

      width:20px;
      height:20px;

      position:absolute;
      top:0;
      left:0;

      border:1px solid $form-gray;
      border-radius: 50%;
      background:$white;
      box-sizing:border-box;
    }
  }

  &-label-blank {
    width:0;
    padding-left:20px;
    text-indent:-9999px;
  }

  &:checked + .radio-label:before{
    content:"";
    display:block;
    position:absolute;
    width:8px;
    height:8px;

    z-index:10;
    top:6px;
    left:6px;

    border-radius:50%;
    background:$dark;
  }

  &:disabled + .radio-label:after{
    background:$light-gray;
  }

}

.form-label {
  height: 37px;
  line-height: 37px;
  color: $dark-gray;

  &-em {
    height: 37px;
    line-height: 37px;
    color: $main-blue;
  }
}

.form {

  &-label{
    height:30px;
    line-height:27px;
    color:$dark-gray;
    font-weight:normal;
  }

  &-msg {
    height:37px;
    line-height:37px;
    color:$dark-gray;
    font-weight:normal;
  }

  &-info-msg {
    clear:both;
    position:relative;
    padding-top:10px;
    padding-left:10px;
    color:$main-blue;
    font-weight:normal;

    &:after{
      content:"";
      display:block;
      width:2px;
      height:2px;

      position:absolute;
      top:17px;
      left:0;

      background:$main-blue;
    }

    &.middle {
      display:inlne-block;
    }
  }

  &-msg-normal {
    clear:both;
    padding-top:10px;
    font-weight:normal;
    color:$dark-gray;

    &.middle {
      display:inlne-block;
    }
  }

  &-attached-file {
    height:37px;
    line-height:37px;
    color:$dark-gray;
    text-decoration:underline;
  }

}

.label-on-input {
  position:absolute;
  top:11px;
  left:10px;
  color:$gray;
  font-weight:normal;
}

.middle {
  display:inline-block;
  vertical-align:middle;

  &.left {
    margin-right:6px;

    &.group {
      margin-right:16px;
    }
  }

  &.right {
    margin-left:6px;

    &.group {
      margin-left:16px;
    }
  }
}

.box {

  &-gray {
   display:inline-block;
   width:50px;
   height:18px;
   line-height:1;
   color:$white;
   font-size:12px;
   font-weight:bold;
   background:$gray-blue;
  }

}
