.input{
  width:$box-default-width;
  height:$box-default-height;
  padding-left:5px;

  color:$dark-gray;
  border:1px solid $form-gray;
  box-sizing:border-box;

  &-wrap {
    position:relative;
  }

  &.mini{
    width:50px;
  }

  &.small{
    width:60px;
  }

  &.med{
    width:80px;
  }

  &.half-width {
    width:115px;
  }

  &.double {
    width:490px;
  }

  &.pwd{
    background:url(../images/msg_form_pwd.png) no-repeat 5px 11px;

    &.focus{
      background:none;
    }

    &-confirm{
      background:url(../images/msg_form_pwd.png) no-repeat 5px -48px;

      &.focus{
        background:none;
      }
    }
  }

  &.gray-bg {
    background-color:$bg-white-gray;
  }

  &.join-reason {
    width:330px;
  }

}

.select {
  border: 1px solid #CDCDCD;
  background: #FFFFFF;
  position: relative;

  &-wrapper{
    width:$box-default-width;
    position: relative;
    cursor: pointer;

    &.half-width{
      width:115px;
    }
  }

  .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 35px 0 10px;
    font-size: 12px;
    line-height: 35px;
    color: #666666;
    height: 35px;
  }

  .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 38px;
    height: 38px;
    color: #999999;
    text-align: center;
    font: 0/0 a;
    *font: 38px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
  }
  .button:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #999999;
    border-bottom: none;
  }

  /* Items box */
  &-items {
    display: none;
    width:100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #C4C4C4;
    z-index: 90;
    box-shadow: 0 0 10px -6px;
    box-sizing:border-box;
    overflow:auto;
    max-height:192px;

    &.on{
      display:block;
    }
  }
  &-items &-scroll {
    height: 100%;
    overflow: auto;
  }
  &-above &-items {
    top: auto;
    bottom: 100%;
  }
  &-items ul, &-items li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px;
  }
  &-items li {
    display: block;
    padding: 8px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #EEE;
    color: #666;
    cursor: pointer;
  }
  &-items li.selected {
    background: #EFEFEF;
    color: #444;
  }
  &-items li:hover {
    background: #F0F0F0;
    color: #444;
  }
  &-items .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

}

.btn{
  &-fill{
    @include btn(195, 40, 16, $white, 40, 0, $dark-gray);
    @include inline-block();

    &.blue{
      background:$main-blue;
    }

    &.left {
      margin-right:7px;
    }

  }

  &-med {
    @include btn(112, 29, 13, $white, 29, 0, $dark-gray);
    @include inline-block();
    text-align:center;
    border-radius:2px;

    &.gray {
      background:$btn-gray;
    }

    &.darkblue {
      background:$btn-darkblue;
    }

    &.icon {

      &-plus {
        padding:0;
        padding-left:38px;
        text-align:left;
        background:$btn-gray url(../images/icon_plus.png) no-repeat 22px 50%;
      }

    }
  }

  &-join{
    @include btn(126, 28, 14, $dark-gray, 25, 1px solid $dark-gray, $white);
    @include center();

    &:hover{
      color:$white;
      border-color:$main-blue;
      background:$main-blue;
    }
  }

  &-calendar{
    width:14px;
    height:30px;

    text-indent:-99999em;
    border:0;
    background:url(../images/icon_btn_calendar.gif) no-repeat;
  }

  &-table-setting{
    width:23px;
    height:22px;

    float:right;

    text-indent:-99999em;

    border:0;
    background:url(../images/btn_tb_setting.png);
  }

  &-form {
    @include btn(115, 37, 13, $white, 34, 0, $dark-gray);
    @include inline-block();
  }

  &-login-fb {
    @include btn(134, 37, 13, $white, 37, 0, $fb-color);
    padding:0;
    padding-left:32px;
    text-align:left;
    background:$fb-color url(../images/icon_fb.png) no-repeat 14px 9px;
  }

  &-login-naver {
    @include btn(134, 37, 13, $white, 37, 0, $naver-color);
    padding:0;
    padding-left:46px;
    text-align:left;
    background:$naver-color url(../images/icon_naver.png) no-repeat 19px 11px;
  }

}

.check{

  &-wrap{
    position:relative;

    &.center{
      display:inline-block;
    }

  }

  &-box{
    position:absolute;
    top:3px;
    left:1px;

    margin:0;
    padding:0;

    &:checked + .check-label:before{
      content:"";
      display:block;
      position:absolute;
      width:6px;
      height:6px;

      z-index:10;
      top:7px;
      left:5px;

      background:$dark;
    }

    &:disabled + .check-label:after{
      background:$light-gray;
    }
  }

   &-label{
    display:block;

    height:20px;
    line-height:19px;

    padding-left:26px;

    color:$dark-gray;

    &.blind{
      width:0;
      text-indent:-99999em;
      overflow:hidden;
    }

    &:after{
      content:"";
      display:block;

      width:16px;
      height:16px;

      position:absolute;
      top:2px;
      left:0;

      border:1px solid $form-gray;
      background:$white;
      box-sizing:border-box;
    }
  }

  &-label-blank {
    width:0;
    padding-left:20px;
    text-indent:-9999px;
  }

}

.radio {

  &-wrap{
    position:relative;

    &.center{
      display:inline-block;
    }
  }

  position:absolute;
  top:1px;
  left:1px;

  margin:0;

  &-label{
    display:block;

    height:20px;
    line-height:19px;

    padding-left:30px;

    color:$dark-gray;

    &.blind{
      width:0;
      text-indent:-99999em;
      overflow:hidden;
    }

    &:after{
      content:"";
      display:block;

      width:20px;
      height:20px;

      position:absolute;
      top:0;
      left:0;

      border:1px solid $form-gray;
      border-radius: 50%;
      background:$white;
      box-sizing:border-box;
    }
  }

  &-label-blank {
    width:0;
    padding-left:20px;
    text-indent:-9999px;
  }

  &:checked + .radio-label:before{
    content:"";
    display:block;
    position:absolute;
    width:8px;
    height:8px;

    z-index:10;
    top:6px;
    left:6px;

    border-radius:50%;
    background:$dark;
  }

  &:disabled + .radio-label:after{
    background:$light-gray;
  }

}

.form-label {
  height: 37px;
  line-height: 37px;
  color: $dark-gray;

  &-em {
    height: 37px;
    line-height: 37px;
    color: $main-blue;
  }
}

.form {

  &-label{
    height:30px;
    line-height:27px;
    color:$dark-gray;
    font-weight:normal;
  }

  &-msg {
    height:37px;
    line-height:37px;
    color:$gray;
    font-weight:normal;
  }

  &-info-msg {
    clear:both;
    position:relative;
    padding-top:10px;
    padding-left:10px;
    color:$main-blue;
    font-weight:normal;

    &:after{
      content:"";
      display:block;
      width:2px;
      height:2px;

      position:absolute;
      top:17px;
      left:0;

      background:$main-blue;
    }
  }

  &-attached-file {
    height:37px;
    line-height:37px;
    color:$dark-gray;
    text-decoration:underline;
  }

}

.label-on-input {
  position:absolute;
  top:11px;
  left:10px;
  color:$gray;
  font-weight:normal;
}

.middle {
  display:inline-block;
  vertical-align:middle;

  &.left {
    margin-right:6px;
  }
}