.dimmed {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity:0.7;
  z-index:999;

  &.on {
    display:block;
  }
}

/* popup common : S */
.popup {
  display:none;
  position:fixed;
  top:180px;
  left:50%;
  margin-left:-400px;
  box-sizing:border-box;
  padding:20px;
  width:750px;
  background:$white;
  border-radius:2px;
  z-index:1000;

  &.on {
    display:block;
  }

  &-small-width {
    margin-left:-156px;
    width:313px;
  }

  &-wide-width {
    margin-left:-500px;
    width:1000px;
  }

	&-close {
		position:absolute;
		top:20px;
		right:20px;
		padding:0;
		width:15px;
		height:15px;
		border:0;
		text-indent:-9999px;
		background:url(../images/icon_close_pop.png) no-repeat;
	}
}
/* popup common : E */

/* popup join : S */
.popup {

	&-join {

		&-title {
			position:relative;
			padding-top:90px;
			text-align:center;
			line-height:1.5;
			color:$dark;
			font-size:20px;
			font-weight:bold;

			&.email:after {
				 content:"";
	       display:block;
	       width:49px;
	       height:37px;

	       position:absolute;
	       top:34px;
	       left:50%;
	       margin-left:-25px;

	       background:url(../images/icon_join.png) no-repeat;
	       background-position:0 -610px;
			}

		}

		&-form {
			margin-top:50px;

			&-wrap {
				position:relative;
				border:1px solid $form-gray;

				&.email:after {
					content:"";
					display:block;
					width:21px;
					height:16px;

					position:absolute;
					top:9px;
					right:9px;

					background:url(../images/icon_join.png) no-repeat;
					background-position:-85px -610px;

				}
			}

			&-label {
				position:absolute;
				top:11px;
				left:10px;
				line-height:1;
				color:$gray;
			}

			&-input {
				box-sizing:border-box;
				padding:0 10px;
				width:240px;
				height:35px;
				border:0;
				background:transparent;
			}

			&-submit {
				margin-top:5px;
				width:100%;
				height:37px;
				line-height:37px;
				font-size:13px;
			}

		}

		&-agree {
			@include clear();
			margin-top:10px;

			&-chk {
				float:left;
				margin:0;
				padding:0;
				height:17px;
				line-height:17px;
			}

			&-label {
				margin-left:5px;
				color:$gray;
				height:17px;
				line-height:17px;
				font-size:11px;
			}

			&-view {
				@include size(34, 17);
				line-height:17px;
				color:$white;
				font-size:11px;
				text-align:center;
				background:$form-gray;
			}

		}

		&-login {
			margin-top:20px;
			padding-top:20px;
			border-top:1px solid $form-gray;
			text-align:center;
			font-weight:bold;

			.em-blue {
				margin-left:10px;
			}

		}

	}

}

/* popup join : E */

/* popup find post */
.clear:after {
	content:"";
	display:block;
	clear:both;
}

.pop-body {
	box-sizing:border-box;
	padding:20px;
	line-height:1;
}
.pop-title {
	margin-bottom:17px;
	padding-bottom:20px;
	font-size:20px;
	color:#00a0e9;
	border-bottom:1px solid #cbcbcb;
}
.pop-subtitle {
	margin-top:20px;
	font-size:13px;
	font-weight:bold;
}
.pop-tab-list {
	height:39px;
	border-bottom:1px solid #dcdcdc;
}
.pop-tab-item {
	float:left;
}
.pop-tab-link {
	display:block;
	box-sizing:border-box;
	width:150px;
	height:39px;
	line-height:39px;
	color:#222;
	font-size:13px;
	text-align:center;
	background-color:#f9f9f9;
	border:1px solid #dcdcdc;
	border-bottom:0;
}
.pop-tab-link.on {
	height:40px;
	background-color:#fff;
	color:#00a0e9;
	font-weight:bold;
	border-top:2px solid #00a0e9;
}
.pop-tab-cont {
	display:none;
}
.pop-tab-cont.on {
	display:block;
}

.pop-gray-box {
	padding:10px;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	background-color:#fafafa;
}
.pop-gray-box:after {
	content:"";
	display:block;
	clear:both;
}
.pop-box {
	margin-top:10px;
	border-top:2px solid #282828;
	border-bottom:1px solid #dcdcdc;
}
.pop-box:after {
	content:"";
	display:block;
	clear:both;
}
.pop-table {
	width:100%;
}
.pop-table-th {
	height:46px;
	background-color:#fafafa;
	color:#666;
	border-right:1px solid #dcdcdc;
	border-top:1px solid #dcdcdc;
	font-size:12px;
}
.pop-table-td {
	padding:5px 10px;
	color:#666;
	border-top:1px solid #dcdcdc;
}

.pop-table tr:first-child .pop-table-th,
.pop-table tr:first-child .pop-table-td {
	border-top:0;
}

.pop-action-box {
	margin-top:4px;
}
.pop-action-box:after {
	content:"";
	display:block;
	clear:both;
}
.pop-action-left {
	float:left;
}
.pop-action-right {
	float:right;
}
.pop-bottom {
	margin-top:20px;
	text-align:center;
}

.form-wrap,
.form-wrap-radio,
.form-wrap-label,
.form-wrap-div {
	position:relative;
	float:left;
	margin-right:5px;
}
.form-wrap.no-gap,
.form-wrap-radio.no-gap,
.form-wrap-label.no-gap,
.form-wrap-div.no-gap {
	margin-right:0;
}
.form-wrap-radio {
	margin-top:9px;
}
.form-wrap-label {
	line-height:37px;
}
.form-wrap-div {
	line-height:37px;
}

.width-small {
	width:60px;
	height:37px;
	border:1px solid $form-gray;
}
.width-normal {
	width:185px;
	height:37px;
	border:1px solid $form-gray;
}
.width-full {
	width:466px;
	height:37px;
	border:1px solid $form-gray;
}
.width-addr-detail {
	width:200px;
	height:37px;
	border:1px solid $form-gray;
}

.pop-label-holder {
	position:absolute;
	top:12px;
	left:5px;
	line-height:1;
	color:#bbb;
}

.btn,
.btn-blue,
.btn-search,
.btn-change {
	display:inline-block;
	width:103px;
	height:37px;
	line-height:37px;
	font-weight:bold;
	background-color:#888;
	border:0;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}
.btn-blue {
	background-color:#00a0e9;
}
.btn-search {
	float:left;
	display:block;
	width:65px;
	height:37px;
	line-height:37px;
}
.btn-change {
	width:100px;
	height:28px;
	line-height:28px;
	background-color:#00a0e9;
}

.find-addr {
	width:613px;
}
.find-addr-title {
	padding-left:23px;
	font-weight:bold;
	background:url(../images/icon_search.png) no-repeat;
}
.addr-search-section {
	padding:10px;
	border:1px solid #cbcbcb;
	border-top:0;
}
.addr-search-label {
	float:left;
	box-sizing:border-box;
	padding-right:9px;
	width:50px;
	height:37px;
	line-height:37px;
	font-size:13px;
	font-weight:bold;
}
.addr-search-input01 {
	float:left;
	margin-right:5px;
	width:410px;
	height:37px;
	border:1px solid $form-gray;
}
.addr-search-msg01,
.addr-search-msg02 {
	position:relative;
	margin-top:10px;
	padding-left:5px;
	color:#888;
	font-size:11px;
	line-height:1.4;
}
.addr-search-msg01:after,
.addr-search-msg02:after {
	content:"";
	display:block;
	position:absolute;
	top:7px;
	left:0;
	width:2px;
	height:2px;
	background-color:#898989;
}
.addr-search-msg01 {
	margin-left:50px;
}

.addr-search-list {
	height:245px;
	overflow-x:hidden;
	overflow-y:auto;
}
.result-title {
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:13px;
	background-color:#fafafa;
	border-bottom:1px solid #dcdcdc;
}
.result-list-item {
	display:block;
	padding:15px;
	color:#666;
	border-bottom:1px solid #dcdcdc;
}
.result-list-item-sub {
	display:block;
	margin-top:5px;
	color:#bbb;
}

.addr-search-select {
	margin-bottom:5px;
	box-sizing:border-box;
	width:173px;
	height:28px;
	border:1px solid #CBCBCB;
}
.addr-search-link {
	display:block;
	padding-left:5px;
	height:28px;
	line-height:28px;
	color:#666;
	font-size:13px;
	background:#fff;
}
.addr-search-link:hover {
	background:#dcdcdc;
}
.addr-search-input02 {
	width:227px;
	height:37px;
	border:1px solid #CBCBCB;
}

.em {
	color:#00a0e9;
}

.select-wrapper.pop-post {
	margin-bottom:5px;
  width:171px;
  background:#fff;
}


/* popup login : S */
.popup {

	&-login {

		&-title {
			margin-top:22px;
			font-size:55px;
			font-weight:bold;
			line-height:1;
			color:$main-blue;
			text-align:center;

			&-msg {
				margin-top:18px;
				text-align:center;
				font-weight:bold;
			}
		}

		&-form {
			margin-top:30px;

			&-wrap {
				position:relative;
				border:1px solid $form-gray;

				&.email:after {
					content:"";
					display:block;
					width:21px;
					height:16px;

					position:absolute;
					top:9px;
					right:9px;

					background:url(../images/icon_join.png) no-repeat;
					background-position:-85px -610px;

				}

				&.password {
					margin-top:5px;

					&:after {
						content:"";
						display:block;
						width:21px;
						height:20px;

						position:absolute;
						top:9px;
						right:9px;

						background:url(../images/icon_join.png) no-repeat;
						background-position:-85px -640px;

					}
				}
			}

			&-label {
				position:absolute;
				top:11px;
				left:10px;
				line-height:1;
				color:$gray;
			}

			&-input {
				box-sizing:border-box;
				padding:0 10px;
				width:240px;
				height:35px;
				border:0;
				background:transparent;
			}

			&-submit {
				margin-top:20px;
				width:100%;
				height:37px;
				line-height:37px;
				font-size:13px;
			}

		}

		&-agree {
			@include clear();
			margin-top:10px;

			&-chk {
				float:left;
				margin:0;
				padding:0;
				height:17px;
				line-height:17px;
			}

			&-label {
				margin-left:5px;
				color:$gray;
				height:17px;
				line-height:17px;
				font-size:11px;
			}

			&-view {
				@include size(34, 17);
				line-height:17px;
				color:$white;
				font-size:11px;
				text-align:center;
				background:$form-gray;
			}

		}

		&-link {
			position:relative;
			margin-left:13px;
			padding-left:15px;
			color:$gray;
			height:17px;
			line-height:17px;
			font-size:11px;

			&:after {
				content:"";
				display:block;
				width:1px;
				height:11px;

				position:absolute;
				top:50%;
				left:0;
				margin-top:-5px;

				background:$form-gray;

			}
		}

		&-links {
			@include clear();
			margin-top:5px;
		}

	}

}
/* popup login : E */

/* popup complex : S */
.complex {

	&-view {
		position:absolute;
		top:0;
		left:0;
		width:500px;
		border:2px solid $main-blue;
	}

	&-header {
		padding:15px 20px;
		background:$bg-white-gray;
		border-bottom:1px solid $line-gray;
	}

	&-title {
		margin-bottom:10px;
		color:$dark;

		&-type {
			width:58px;
			height:16px;
			line-height:14px;
			font-size:12px;
			text-align:center;

			&.red {
				border:1px solid $main-red;
				color:$main-red;
			}

			&.yellow {
				border:1px solid $main-yellow;
				color:$main-yellow;
			}

			&.purple {
				border:1px solid $main-purple;
				color:$main-purple;
			}

			&.green {
				border:1px solid $main-green;
				color:$main-green;
			}

		}

		&-name {
			margin-left:5px;
			font-size:15px;
			font-weight:bold;
		}

	}

	&-addr {
		color:$dark;
	}

	&-body {
		padding:18px 20px;
	}

	&-overview {
		@include clear();

		&-imgframe {
			float:left;
			width:134px;
			overflow:hidden;
		}

		&-img {
			width:100%;
		}

		&-body {
			float:left;
			margin-left:10px;
			width:315px;
		}

		&-text {
			margin-top:2px;
			overflow:hidden;

			&:first-child {
				margin-top:0;
			}
		}

		&-title {
			float:left;
			margin-right:10px;
			width:54px;
			height:18px;
			line-height:18px;
			color:$white;
			font-size:12px;
			font-weight:bold;
			background:$gray-blue;
			text-align:center;

			&.blue {
				background:$main-blue;
			}

		}

		&-data {
			float:left;
			width:250px;

			&-sale {
				color:$dark-gray;
				font-weight:bold;
			}

		}

	}

	&-table {
		margin-top:17px;

		&-head {

			&-item01 {
				width:135px;
			}

			&-item02 {
				width:45px;
			}

			&-item03 {
				width:45px;
			}

			&-item04 {
				width:40px;
			}

			&-item05 {
				width:40px;
			}

			&-item06 {
				width:93px;
			}

			&-item07 {
				width:60px;
			}

			&-sort {
				display:inline;
				padding:0;
				width:10px;
				height:10px;
				border:0;
				background:url(../images/bg_btn_toggle.png) no-repeat;
				text-indent:-9999px;
				vertical-align:middle;

				&.asce {
					background-position:50% 2px;
				}

				&.desc {
					background-position:50% -73px;
				}

			}

		}

		&-body {
			height:200px;
		}

		.scroll-table-tr:hover .complex-btn-detail-view {
			background-position:0 -18px;
		}

	}

	&-btn {

		&-detail-view {
			display:inline;
			padding:0;
			width:18px;
			height:18px;
			border:0;
			background:url(../images/bg_btn_search_simple_view.png) no-repeat;
			text-indent:-9999px;
		}

	}

}
/* popup complex : E */

/* popup map simple view */
.simple-view{
	position:absolute;
	top:0;
	left:0;

	padding:10px;
	min-width:420px;

	border:2px solid $main-blue;

	.list-item.image{
		width:122px;
		//height:94px;
		float:left;

		.thumb-image{
			width:100%;
		}
	}

	.right-col{
		float:left;
		margin-left:10px;
	}

	.list-item {

		&-type {
			width: 58px;
			height: 16px;
			line-height: 14px;
			font-size: 12px;
			text-align: center;

			&.red {
				border: 1px solid $main-red;
				color: $main-red;
			}

			&.yellow {
				border: 1px solid $main-yellow;
				color: $main-yellow;
			}

			&.purple {
				border: 1px solid $main-purple;
				color: $main-purple;
			}

			&.green {
				border: 1px solid $main-green;
				color: $main-green;
			}
		}

		&-name {
			margin-top: 7px;
			font-size: 15px;
			font-weight: bold;
			color: $dark;
		}

		&-detail {
			margin-top: 7px;
			line-height: 1.4;
		}

		&.price{
			position:absolute;
			top:10px;
			right:10px;

			display:inline-block;
			font-size:17px;
			font-weight:bold;
			color:$main-blue;
		}

		&.spec{
			margin-top:7px;
		}

		&-data{
			float:left;
			margin:0 0 0 10px;


			&:first-child{
				margin-left:0;
				padding-left:0;
				&:after{
					display:none;
				}
			}
		}

		&.btn-search{
			width:19px;
			height:18px;

			position:absolute;
			bottom:8px;
			right:10px;

			text-indent:-99999em;

			background:url(../images/bg_btn_search_simple_view.png) no-repeat;

			&:hover{
				background-position:0 -19px
			}
		}

	}
}

/* popup map simple view list type*/
.simple-view-list{
	position:absolute;
	top:0;
	left:0;

	//padding:10px;
	//min-width:420px;

	border:2px solid $main-blue;

	&-top{
		padding-left:10px;
		@include font(16, bold, $dark);
		line-height:48px;
		border-bottom:1px solid $line-gray;
		background:#f3f3f3;
	}

	&-scroll{
		min-width:460px;
		height:365px;
		overflow-y:auto;
		overflow-x:visible;
	}

	&-result{
		padding:15px 10px 5px;
		font-weight:bold;
	}

	&-item{
		//min-width:420px;
		position:relative;
		padding:10px;
		@include clear();
		border-top:1px solid $line-gray;

		&.first{
			border-top:0;
		}
	}

	.list-item.image{
		width:122px;
		//height:94px;
		float:left;

		.thumb-image{
			width:100%;
		}
	}

	.right-col{
		float:left;
		margin-left:10px;
	}

	.list-item {

		&-type {
			width: 58px;
			height: 16px;
			line-height: 14px;
			font-size: 12px;
			text-align: center;

			&.red {
				border: 1px solid $main-red;
				color: $main-red;
			}

			&.yellow {
				border: 1px solid $main-yellow;
				color: $main-yellow;
			}

			&.purple {
				border: 1px solid $main-purple;
				color: $main-purple;
			}

			&.green {
				border: 1px solid $main-green;
				color: $main-green;
			}
		}

		&-name {
			margin-top: 7px;
			font-size: 15px;
			font-weight: bold;
			color: $dark;
		}

		&-detail {
			margin-top: 7px;
			line-height: 1.4;
		}

		&.price{
			position:absolute;
			top:10px;
			right:10px;

			display:inline-block;
			font-size:17px;
			font-weight:bold;
			color:$main-blue;
		}

		&.spec{
			margin-top:7px;
		}

		&-data{
			float:left;
			margin:0 0 0 10px;


			&:first-child{
				margin-left:0;
				padding-left:0;
				&:after{
					display:none;
				}
			}
		}

		&.btn-search{
			width:19px;
			height:18px;

			position:absolute;
			bottom:8px;
			right:10px;

			text-indent:-99999em;

			background:url(../images/bg_btn_search_simple_view.png) no-repeat;

			&:hover{
				background-position:0 -19px
			}
		}

	}
}


