.wrapper {
	@include center();
	@include size(1000, auto);
	@include clear();
}

/* header */
.header {
	@include size(auto, 70);
	background-color:$white;
	min-width:1000px;

	position:relative;

	z-index:90;

	&-logo {
		float:left;
		margin:11px 0 0 -14px;
	}

	&-gnb {
		float:left;
		margin-left:280px;
		padding-top:26px;

		.gnb {

			&-item {

			}

			&-main-link{

			}

			&-sub{

				&-wrap{

				}

				&-item{

				}

				&-link{

				}

			}

		}

	}

}

.main {
	min-width:1760px;

	&-header {
		@include size(auto, 73);
		border-bottom:1px solid #708080;
		background-color:$white;
	}

	&-content {
		padding:10px 0 15px;
		border-top:3px solid #cbcfd2;
	}
}

.main-heading {
	float:left;
	margin-top:13px;

	&-title {
		font-size:24px;
		font-weight:bold;
		color:$dark;
		line-height:1;
	}

	&-overview {
		margin-top:5px;
		color:#9da3a3;
		font-weight:bold;
		font-size:12px;
		line-height:1;
	}

	&-form-group {
		position:relative;
		padding-top:30px;

		>.group-label{
			position:absolute;
			top:8px;
			left:5px;

			white-space:nowrap;
		}
	}
}

.main-option {
	float:left;

	&-item {
		float:left;
	}
}

.main-actions {
	float:right;
}

.contents-section{
	@include clear();
	width:1718px;
	padding:10px 20px;
	border:1px solid $light-gray;
	border-radius:3px;
	background:$white;

	&-top{
		//margin-bottom:10px;
		@include clear();
	}

	&-bottom{
		margin-top:10px;
		@include clear();
	}

	&-inner{
		position:relative;
		width:100%;
		height:calc(100% - 45px);
		overflow:auto;

		padding:20px;
		margin-top:10px;

		border:1px solid #c2cbcb;
		border-radius:3px;
		box-sizing:border-box;
		background:#fff;

		&.fill-gray{
			background:$clean-gray;
			padding:6px;
		}

		&.no-border{
			padding:0;
			border:0;
			border-radius:0;
		}

		&.out-border{
			border-top: 2px solid $light-gray;
			border-bottom:1px solid $light-gray;
		}

		&.inside-section{
			padding:10px 15px 15px 15px;
			margin:0 0 6px 0;

			&.solitary{
				margin:0;
			}
		}

		&.no-scroll {
			overflow:visible;
		}
	}

	&.left-float.left{
		margin-right:6px;
	}
}

.section-heading{
	font-weight:bold;
	color:$dark;
	line-height:25px;

	&.color{
		font-size:16px;
		color:$blue-green;
	}

	&.eng{
		font-size:20px;
	}

	&.small-eng{
		font-size:16px;
		color:#64aca8;
	}


}

.table{

	&-top{

		&:after{
			content:"";
			display:block;
			clear:both;
		}
	}

	&-heading{
		width:80px;
		height:30px;

		float:left;

		font-weight:bold;
		color:$white;
		line-height:30px;
		text-align:center;
		background:$light-gray;
	}

}
