html.map{
	overflow-y:hidden;

	.wrapper{
		width:auto;
	}

	.header-logo,
	.footer-logo{
		padding-left:20px;
	}

	.footer-content{
		padding-right:20px;
	}
}

.wrapper {
	position:relative;

	@include center();
	@include size(1000, auto);
	@include clear();
}

/* header */
.header {
	@include size(auto, 70);
	background-color:$white;
	min-width:1000px;

	position:relative;

	z-index:1000;

	&-logo {
		float:left;
		margin:15px 0 0 0;
	}

	&-gnb {
		float:right;
		margin:31px 205px 0 0;
		//padding-top:31px;

		.gnb {

			&-item {
				position:relative;
				float:left;
				margin-right:5px;
			}

			&-main-link{

				display:block;
				height:28px;

				position:relative;
				line-height:28px;
				padding:0 17px;
				@include font(16, bold, $gnb-dark-gray);

				&:hover, &.on{

					color:$white;
					background:url(../images/bg_gnb.png) no-repeat;

					&:after{
						content:"";
						display:block;
						width:15px;
						height:28px;
						position:absolute;
						top:0;
						right:0;
						background:url(../images/bg_gnb.png) no-repeat right top;
					}

				}

			}

			&-sub{

				&-wrap{

					display:none;

					width:126px;

					position:absolute;
					left:50%;
					margin-left:-64px;

					padding-top:20px;

					background:url(../images/bg_gnb_sub.png) no-repeat;

					&:after{
						content:"";
						display:block;
						width:126px;
						height:14px;
						background:url(../images/bg_gnb_sub.png) no-repeat left bottom;
					}

					&.on{
						display:block;
					}

					&.narrow{
						width:81px;
						margin-left:-40px;
						background:url(../images/bg_gnb_sub_narrow.png) no-repeat;

						&:after{
							background:url(../images/bg_gnb_sub_narrow.png) no-repeat left bottom;
						}
					}

				}

				&-item{
					padding-left:20px;
					margin-bottom:15px;

					&.last{
						margin-bottom:0;
					}
				}

				&-link{

					@include font($font-size-base, bold, $gnb-dark-gray);

					&:hover, &.on{
						color: $main-blue;
					}

				}

			}

		}

	}

	&-util{
		position:absolute;
		top:10px;
		right:215px;

		.util-item{
			position:relative;
			float:left;
			margin-left:13px;
			padding-right:13px;

			&.last:after{
				display:none;
			}

			&:after{
				content:"";
				display:block;
				width:1px;
				height:10px;

				position:absolute;
				top:4px;
				right:0;

				background:$light-gray;
			}
		}

		.util-link{
			@include font(11,normal,$gnb-gray);

			&:hover{
				color:$main-blue;
			}
		}
	}

	&-my{
		width:192px;
		height:70px;

		position:absolute;
		top:0;
		right:0;

		//padding-top:20px;

		text-align:center;

		background:$main-blue;

		&-title{
			display:inline-block;
			width:192px;
			height:70px;

			position:relative;

			@include font(16, bold, $white);
			line-height:70px;

			.typo{
				display:inline-block;
				padding-left:42px;
				background:url(../images/icon_mychamp.png) no-repeat 0 18px;
			}
		}

		&-sub{
			display:none;
			width:388px;
			height:337px;

			position:absolute;
			top:70px;
			right:0;

			padding:15px 20px;

			border:3px solid $main-blue;
			background:$white;

			&.on{
				display:block;
			}
		}

		&-member{

			padding-bottom:15px;
			border-bottom:1px solid $line-gray;

			.member{

				&-name{

					height:45px;

					padding-left:56px;
					float:left;

					@include font(18, bold, $dark);
					line-height:45px;

					background:url(../images/icon_user.png) no-repeat;
				}

				&.login,
				&.logout{
					display:block;
					position:relative;
					float:right;
					padding-top:25px;
					margin-top:5px;

					border:0;
					background:0;

					@include font(13, bold, $dark-gray);

					&:after{
						content:"";
						display:block;
						width:21px;
						height:20px;

						position:absolute;
						top:0;
						left:50%;
						margin-left:-8px;

						background:url(../images/icon_log_io.png) no-repeat 0 0;
					}
				}

				&.logout{
					&:after {
						background-position: 0 -22px;
					}
				}

			}

			@include clear();

		}

		&-info{
			padding:30px 10px 22px;
			border-bottom:1px solid $line-gray;

			.info{
				&-list {
					float: left;
					margin-right: 35px;

					&.last {
						margin:0;
					}
				}

				&-link{
					display:block;
					position:relative;
					padding-top:30px;
					@include font($font-size-base, 700, $dark);

					&:hover{
						color: $main-blue;
					}

					&:after{
						content:"";
						display:block;
						width:34px;
						height:22px;

						position:absolute;
						top:0;
						left:50%;
						margin-left:-17px;

						background:url(../images/icon_mychamp_sub.png) no-repeat;
					}

					&.info{

						&-modify{

							&:after {
								background-position:0 0;
							}
							&:hover:after{
								background-position:-35px 0;
							}
						}

						&-goods{
							&:after{
								background-position:0 -23px;
							}
							&:hover:after{
								background-position:-35px -23px;
							}
						}

						&-payment{
							&:after{
								background-position:0 -46px;
							}
							&:hover:after{
								background-position:-35px -46px;
							}
						}

						&-usage{
							&:after{
								background-position:0 -69px;
							}
							&:hover:after{
								background-position:-35px -69px;
							}
						}

					}
				}
			}

			@include clear();
		}

		&-history{
			margin-top:20px;
			@include clear();

			.history{

				&-list{
					float:left;
					margin-bottom:5px;

					&.odd{
						margin-right:6px;
					}
				}

				&-link{
					display:block;
					width:145px;
					height:32px;

					position:relative;

					@include font($font-size-base, bold, $dark);
					line-height:32px;
					text-align:left;

					padding-left:44px;
					border:1px solid $line-gray;

					&:hover{
						color:$main-blue;
						border-color:$main-blue;
					}

					&:after{
						content:"";
						display:block;
						width:16px;
						height:16px;
						position:absolute;
						top:9px;
						left:20px;
						background:url(../images/icon_mychamp_sub.png) no-repeat;
					}

					&.notice{
						&:after{
							background-position:0 -97px;
						}

						&:hover:after{
							background-position:-20px -97px;
						}
					}

					&.for-sale{
						&:after{
							background-position:0 -172px;
						}

						&:hover:after{
							background-position:-20px -172px;
						}

						&-current{
							&:after{
								background-position:0 -115px;
							}

							&:hover:after{
								background-position:-20px -115px;
							}
						}

						&-favorite{
							&:after{
								background-position:0 -192px;
							}

							&:hover:after{
								background-position:-20px -192px;
							}
						}
					}

					&.search{
						&-current{
							&:after{
								background-position:0 -134px;
							}

							&:hover:after{
								background-position:-20px -134px;
							}

						}

						&-call{
							&:after{
								background-position:0 -153px;
							}

							&:hover:after{
								background-position:-20px -153px;
							}

						}
					}

					&.mediation{
						&:after{
							background-position:0 -210px;
						}
						&:hover:after{
							background-position:-20px -210px;
						}
					}

					&.inquiry{
						&:after{
							background-position:0 -229px;
						}
						&:hover:after{
							background-position:-20px -229px;
						}
					}
				}
			}
		}
	}
}

/* navigation lnb */
.lnb{
	min-width:1000px;
	height:50px;
	background:$bg-light-gray;

	&-list{
		height:50px;

		float:left;
		padding-left:20px;

		line-height:50px;

		@include clear();

		&.yellow .lnb-link:hover,
		&.yellow .lnb-link.on {
			color:$main-yellow;
		}
	}

	&-item{
		position:relative;
		float:left;
		margin-right:18px;
	}

	&-link{
		@include font(13, bold, $gray-blue);

		&:hover, &.on{
			color:$main-blue;
		}
	}

	&-util{

		float:right;
		@include clear();


		.view{
			height:50px;

			float:left;
			padding-right:15px;

			line-height:50px;

			&-item{
				position:relative;
				float:left;
				margin-left:3px;

				&:first-child{
					margin-left:0;
				}
			}

			&-link{
				display:inline-block;
				height:20px;

				position:relative;
				line-height:20px;
				padding:0 10px;
				@include font(12, bold, $gnb-dark-gray);

				&:hover, &.on{

					color:$red;
					background:url(../images/bg_lnb_util.png) no-repeat;

					&:after{
						content:"";
						display:block;
						width:10px;
						height:20px;
						position:absolute;
						top:0;
						right:0;
						background:url(../images/bg_lnb_util.png) no-repeat right top;
					}

				}
			}
		}

		.social{
			height:50px;

			float:left;
			padding-right:20px;

			line-height:50px;

			&-item{
				position:relative;
				float:left;
				margin-right:20px;
			}

			&-link{
				display:inline-block;
				height:20px;

				position:relative;

				padding-left:20px;
				line-height:20px;

				@include font(12, bold, $gnb-dark-gray);

				&:after{
					content:"";
					display:block;
					width:20px;
					height:13px;

					position:absolute;
					top:4px;
					left:0;
					background:url(../images/icon_social.png) no-repeat;
				}

				&.search-recent:after{
					background-position:-21px 0;
				}

				&.on{
					color:$red;

					&:after{
						background-position:0 -14px;
					}

					&.search-recent:after{
						background-position:-21px -14px;
					}
				}

			}
		}

		&-btns {
			padding-top:10px;
		}

	}
}

/* contents */
.contents{

	min-width:1000px;
	min-height:300px;

	position:relative;

	&.top-border{
		border-top:2px solid $main-blue;
	}

	&-title{
		@include font(30, bold, $dark);
		margin:35px 0 32px;

		&-wrap{
			margin:0 0 32px;
		}

		&.has-description{
			margin:35px 0 0 0;
		}

		&-desc{
			margin:15px 0 0 0;

			font-size:16px;
		}
	}

	&-top-util {
		position:absolute;
		top:3px;
		right:0;
	}

	&-mid{
		@include clear();
	}

	&-part{

		.part{

			&-top{
				@include clear();
				margin:30px 0 15px;

				&.no-top {
					margin-top:0;
				}

				&.no-bottom {
					margin-bottom:0;
				}
			}

			&-title{
				@include font(18, bold, $dark);
				margin-bottom:12px;
			}

			&-subtitle {
				margin-top:7px;
			}

			&-mid {
				@include clear();

				&.border-bottom {
					border-bottom:1px solid $dark;
				}

				&-title {
					margin:20px 0 15px;
				}

				.list-description {
					margin-bottom:10px;
				}
			}

			&-bottom{
				@include clear();
				margin:30px 0 100px;
				text-align:center;

				&.no-top {
					margin-top:0;
				}

				&.no-bottom {
					margin-bottom:0;
				}

			}

		}

	}

	&-mid {

		&.has-bottom {
			padding-bottom:100px;
		}

	}

	&-bottom {

		&.has-bottom {
			padding-bottom:100px;
		}

	}

}

/* footer */
.footer{
	background:$bg-gray;
	min-width:1000px;
	padding:32px 0;

	&-logo{
		float:left;
	}

	&-content{
		float:right;
		margin-left:10px;
	}

	&-menu{
		margin-bottom:10px;

		.menu{
			&-item{
				position:relative;

				float:left;
				margin-left:10px;
				padding-right:11px;

				&:after{
					content:"";
					display:block;
					width:1px;
					height:10px;

					position:absolute;
					top:3px;
					right:0;

					background:$gnb-dark-gray;
				}

				&.first{
					margin-left:0;
				}

				&.last:after{
					display:none;
				}
			}

			&-link{
				@include font($font-size-base, bold, $gnb-dark-gray);
				&:hover{
					color:$dark-blue;
				}
			}
		}

		@include clear();
	}

	&-address{
		@include font(12, normal, $gnb-gray);
		margin-bottom:5px;

		.item{
			float:left;
			margin-right:15px;

			&.last{
				margin:0;
			}
		}

		@include clear();
	}

	&-license{
		@extend .footer-address;
		margin-bottom:10px;
	}

	&-copyright{
		@include font(12, bold, $gnb-gray);

		.co-name{
			color:$dark-blue;
		}
	}

}

.submit-btns {
	margin-top:55px;

	&.center {
		text-align:center;
	}

	&.left {
		text-align:left;
	}

	&.right {
		text-align:right;
	}

	.btn-fill {
		display:inline-block;
		margin:0 3px;
	}
}