.left-float{
  float:left;

  &.left{
    margin-right:10px;

    &.group{
      margin-right:20px;
    }

    &.half{
      margin-right:5px;
    }
  }

  &.right{
    margin-left:10px;

    &.group{
      margin-left:20px;
    }

    &.half{
      margin-left:5px;
    }
  }

}

.right-float{
  float:right;

  &.left{
    margin-right:10px;

    &.group{
      margin-right:20px;
    }

    &.half{
      margin-right:5px;
    }
  }

  &.right{
    margin-left:10px;

    &.group{
      margin-left:20px;
    }

    &.half{
      margin-left:5px;
    }
  }

}

.hide{
  display:none;
}

.em-dark{
  color:$dark!important;
  font-weight:bold;
}

.em-gray{
  color:$main-blue!important;
}

.em-blue{
  color:$main-blue!important;
}

.em-blue-bold{
  color:$main-blue!important;
  font-weight:bold;
}

.em-yellow{
  color:$main-yellow!important;
}

.em-yellow-bold{
  color:$main-yellow!important;
}

.em-red{
  color:$main-red!important;
}

.small-font{
  font-size:$font-size-small;
}

.mini-font{
  font-size:$font-size-mini;
}

.status-blue{
  font-weight:bold;
  color:$blue;
}

.clearfix:after{
  content:"";
  display:block;
  clear:both;
}

.div-item {
  float:left;
  width:20px;
  line-height:37px;
  text-align:center;
}

.mt8{
  margin:8px 0 0 0;
}

.required{
  margin:10px 0 0 0;
  text-align:right;
}