@import "variables";
@import "mixins";

.vt-table {
	width:100%;
	border-top:2px solid $dark;

	caption{
		display:none;
	}

	th {
		height:50px;
		position:relative;

		font-weight:bold;
		color:$dark;

		line-height:1.3;

		border-bottom: 1px solid $dark;

		&.chkbox{
			line-height:0;
		}

		&.center {
			padding:0;
			text-align: center;
		}

	}

	td {
		padding:20px 0 20px 10px ;
		border-bottom: 1px solid $line-gray;
		color:$gray;

		&.center {
			padding:0;
			text-align: center;
		}

		&.top {
			vertical-align:top;
		}

	}

	.td-inner {
		@include clear();
		margin-top:2px;
		line-height:1.4;

		&:first-child {
			margin-top:0;
		}
	}

}

.hr-table{
	width:100%;

	border:{
		top: 2px solid $dark;
		bottom:1px solid $dark;
	}

	th{
		height:57px;
		text-align:left;
		padding-left:10px;
		font-weight:bold;
		color:$dark;
		border-bottom: 1px solid $line-gray;
		background:$bg-white-gray;

		&.last{
			border:0;
		}
	}

	td{
		height:57px;
		padding-left:10px;

		font-weight:bold;
		color:$dark;
		border:{
			left: 1px solid $line-gray;
			bottom: 1px solid $line-gray;
		}

		&.td-padding {
			padding-top:10px;
			padding-bottom:10px;
		}

		&.last{
			border-bottom:0;
		}
	}
}

.thumb-mini {
  margin:0 auto;
  width:68px;
  height:68px;
  border:1px solid $line-gray;

  &-img {
    width:68px;
    height:68px;
  }
}

.price-box {
  display:inline-block;
  width:80px;
  height:20px;
  line-height:20px;
  color:$main-blue;
  text-align:center;
  font-weight:bold;
  border:1px solid $form-gray;
}

.list-img {
	position:relative;
	display:inline-block;
	margin:20px 0;
	width:177px;
	height:129px;

	&-list {
		.slidesjs-navigation {
			position:absolute;
			top:53px;
			width:13px;
			height:24px;
			z-index:11;
			text-indent:-9999px;
		}

		.slidesjs-previous {
			left:10px;
			background:url(../images/bg_arrow_img_nav.png) no-repeat;
		}

		.slidesjs-next {
			right:10px;
			background:url(../images/bg_arrow_img_nav.png) no-repeat 100% 0;
		}

	}

	&-info {
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:26px;
		background:url(../images/bg_list_img_info.png);
		z-index:20;

		&-num {
			float:left;
			margin:8px 0 0 12px;
			padding-left:15px;
			line-height:1;
			color:$white;
			font-size:10px;
			background:url(../images/icon_list_img_info.png) no-repeat 0 1px;
		}

		&-day {
			float:right;
			margin:8px 12px 0 0;
			padding-left:15px;
			line-height:1;
			color:$white;
			font-size:10px;
			background:url(../images/icon_list_img_info.png) no-repeat 0 -37px;
		}
	}
}

.list-item {

	&-type {
		width:58px;
		height:16px;
		line-height:14px;
		font-size:12px;
		text-align:center;

		&.red {
			border:1px solid $main-red;
			color:$main-red;
		}
	}

	&-name {
		margin-top:10px;
		font-size:18px;
		font-weight:bold;
		color:$dark;
	}

	&-detail {
		margin-top:7px;
		line-height:1.4;
	}

	&-price {
		display:inline-block;
		padding-right:25px;
		font-size:19px;
		font-weight:bold;
		color:$main-blue;
		background:url(../images/icon_round_down.png) no-repeat 100% 50%;
	}

	&-data {
		position:relative;
		margin-top:5px;
		padding-left:12px;
		color:$dark-gray;

		&:first-child {
			margin-top:0;
		}

		&:after {
			content:"";
			position:absolute;
			top:50%;
			left:0;
			margin-top:-1px;
			width:2px;
			height:2px;
			background:$dark-gray;
		}
	}

	&-more {
		margin-top:10px;
		margin-left:10px;
		padding:0;
		padding-right:10px;
		color:$gray-blue;
		font-size:11px;
		border:0;
		background:url(../images/icon_arrow_down.png) no-repeat 100% 50%;
	}

	&-dealtype {
		display:inline-block;
		width:50px;
		height:18px;
		line-height:18px;
		font-size:12px;
		text-align:center;
		color:$white;
		background:$gray-blue;
	}

	&-user {
		font-weight:bold;
		color:$dark-gray;
	}

	&-btn {

		&.heart {
			width:11px;
			height:10px;
			text-indent:-9999px;
			border:0;
			background:url(../images/icon_list_action.png) no-repeat;

			&.on {
				background-position:0 -20px;
			}
		}

		&.del {
			width:14px;
			height:11px;
			text-indent:-9999px;
			border:0;
			background:url(../images/icon_list_action.png) no-repeat 100% 0;
		}
	}

}

/*
.tb-form {

	&-btn {

		&-sort{
			@include btn(7px, 4px, 7px, 0, $light-gray, $white, 0);
			text-indent:-99999em;
			background:url(../images/table/sprite_btn_icons.png) no-repeat 0 0px;
			padding:0;
			margin:3px 10px 3px 0;

			&.asc{
				background-position:0 -57px;

				&:hover, &.on{
					background-position:-18px -57px;
				}
			}

			&.desc{
				background-position:0 -66px;

				&:hover, &.on{
					background-position:-18px -66px;
				}
			}
		}

		&-edit {
			@include inline-block();
			@include btn(25px, 25px, 25px, 0, $white, $blue, 4px);
			text-indent: -9999px;
			background: $blue url(../images/table/sprite_btn_icons.png) no-repeat 50% 0;
		}

		&-del {
			@include inline-block();
			@include btn(25px, 25px, 25px, 0, $white, $orange, 4px);
			text-indent: -9999px;
			background: $orange url(../images/table/sprite_btn_icons.png) no-repeat 50% -25px;

			&:disabled {
				background-color:$white-orange;
				cursor:default;
			}
		}
	}
}

.table-link {
	color:$dark-gray;
	text-decoration:underline;
}
*/