// font family stack by weight
$font-stack:'Nanum Gothic', 'dotum', sans-serif;
$font-size-base:13;
$font-size-small:12;
$font-size-mini:11;

// box size
$box-default-width:240px;
$box-default-height:37px;

// base color
$dark:#222;
$dark-gray:#666;
$gray:#999;
$white: #ffffff;

// gnb color
$gnb-dark-gray:#555;
$gnb-gray:#888;

// line color
$line-dark:#282828;
$line-gray:#d8d8d8;

// background color
$bg-gray:#ddd;
$bg-light-gray:#ededed;
$bg-white-gray:#f9f9f9;

// form color
$form-gray:#cbcbcb;

// blue color
$main-blue:#25aae1;
$dark-blue:#3e8aad;
$gray-blue:#a1b0b6;

// red color
$main-red:#ed1c24;

//////////////////////////////////////////////////////////////
$light-gray:#ddd;
$white-gray:#afbdbd;
$orange:#ee6247;
$white-orange:#f6d4cd;
$blue:#479dee;
$green:#0bc17a;
$blue:#479dee;
$blue-green:#00b9b0;
$light-green:#54d9ac;
$beige:#f8f2e5;
$red:#e70000;
$yellow:#fcb63c;

$critical:#ff7575;
$major:#d59b72;
$minor:#eedb73;
$normal:#00b9b0;

$clean-gray:#e8e8e8;
$white-bg-gray:#f5f8f8;