@import "mixins";
@import "variables";

.cs-center{

  &-tab{

    @include clear();

    &-list{
      width:250px;
      height:170px;

      float:left;
    }

    &-link{
      display:block;

      width:100%;
      height:100%;

      padding:125px 0 0 0;

      font-size:16px;
      text-align:center;
      color:$dark-gray;
      font-weight:bold;

      border:1px solid $bg-gray;
      box-sizing:border-box;

      &:hover{
        color:#fcb040;
      }
    }

  }

}