@import "variables";
@import "mixins";

/* reset */
body{
  @include font(13-1, normal, $dark-gray);
}
.os-xp {
  body{
    letter-spacing:-1px;
  }
}

select, input, button, textarea {
  @include font(13-1, normal, $dark-gray);
}

/* header */
.header {

  &-gnb {

    .gnb {

      &-main-link{
        @include font(16-1, bold, $gnb-dark-gray);
      }

      &-sub{

        &-link{
          @include font(13-1, bold, $gnb-dark-gray);
        }

      }

    }

  }

  &-my{
    &-title{
      @include font(16-1, bold, $white);
    }

    &-member{

      .member{

        &-name{
          @include font(18-1, bold, $dark);
        }

        &.login,
        &.logout{
          @include font(13-1, bold, $dark-gray);
        }

      }

    }

    &-info{

      .info{

        &-link{
          @include font(13-1, 700, $dark);
        }

      }

    }

    &-history{

      .history{

        &-link{
          @include font(13-1, bold, $dark);
        }

      }

    }

  }

}

/* contents */
.contents{
  &-title{
    @include font(30-1, bold, $dark);
  }

  &-part{
    &-title{
      @include font(18-1, bold, $dark);
    }
  }
}

/* footer */
.footer{
  &-menu{
    .menu{
      &-link{
        @include font(13-1, bold, $gnb-dark-gray);
      }
    }
  }

  &-address{
    @include font(12, normal, $gnb-gray);
  }

  &-copyright{
    @include font(12-1, bold, $gnb-gray);
  }
}

/* form */
.input{
  line-height:35px;
}

.btn{
  &-fill{
    @include font(16-1, bold, $white);
  }

  &-join{
    @include font(14-1, bold, $dark-gray);
  }
}

.radio{
  &-label{
    padding-left:25px;
    line-height:20px;

    &:after{
      display:none;
    }
  }
}

.check{
  &-label{
    padding-left:20px;

    &:after{
      display:none;
    }
  }
}

/* join */
.join{
  &-title{
    @include font(30-1, bold, $main-blue);

    &-desc{
      @include font(14-1, normal, $dark-gray);
    }
  }

  &-type{
    &-title{
      @include font(20-1, bold, $dark);
    }
    &-desc{
      @include font(13-1, normal, $dark-gray);
    }
  }

  &-complete {

    &-title {
      @include font(24-1, bold, $dark);
    }

    &-msg {
      @include font(16-1, normal, $dark);
    }

  }
}

.step{
  &-mark{
    @include font(13-1, normal, $main-blue);
  }

  &-title{
    @include font(18-1, bold, $dark);
    margin-top:3px;
  }
}

.step-list.premium {
  .step{

    &-title{
      @include font(14-1, bold, $dark);
    }
  }

}

/* list */
.sort-input-label {
  top:7px;
}
.sort-input {
  line-height:27px;
}


/* popup dimmed */
.dimmed {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.popup {

  &-join {

    &-title {
      @include font(20-1, bold, $dark);
    }

    &-form {

      &-submit {
        @include font(13-1, normal, $white);
      }

      &-input {
        line-height:35px;
      }

    }

  }

}

