@import "variables";
@import "mixins";

.join{

  &-title{
    @include font(30, bold, $main-blue);
    padding:145px 0 10px;
    text-align:center;

    &-desc{
      @include font(14, normal, $dark-gray);
      line-height:1.4;
      text-align:center;
      padding-bottom:50px;

      &.private {
        padding-bottom:70px;
      }

      &.mediation {
        padding-bottom:40px;
      }

      &.company {
        padding-bottom:40px;
      }

      &.premium {
        padding-bottom:40px;
      }

    }
  }

  &-type{
    @include size(233, 260);

    float:left;
    margin-right:20px;
    border:1px solid $line-gray;

    &.last{
      margin:0;
    }

    &-title{
      @include size(auto, 45);
      @include font(20, bold, $dark);

      position:relative;
      padding-bottom:72px;
      margin-top:28px;
      text-align:center;

     &:after{
       content:"";
       display:block;
       width:106px;
       height:72px;

       position:absolute;
       bottom:0;
       left:50%;
       margin-left:-53px;

       background:url(../images/icon_join.png) no-repeat;
     }

      &.mediation:after{
        background-position:0 -78px;
      }

      &.company:after{
        background-position:0 -156px;
      }

      &.premium:after{
        background-position:0 -234px;
      }

      .sub-title{
        display:block;
        font-size:13px;
      }

      &.email,
      &.facebook,
      &.naver,
      &.kakao {
        padding-bottom:160px;
        height:19px;

        &:after{
          content:"";
          display:block;
          width:75px;
          height:60px;

          position:absolute;
          bottom:56px;
          left:50%;
          margin-left:-37px;

          background:url(../images/icon_join.png) no-repeat;
        }
      }

      &.email:after{
        background-position:0 -330px;
      }

      &.facebook:after{
        background-position:0 -400px;
      }

      &.naver:after{
        background-position:0 -470px;
      }

      &.kakao:after{
        background-position:0 -540px;
      }
    }

    &-desc{
      @include font(13, normal, $dark-gray);
      margin:20px 0 9px;
      line-height:1.4;
      text-align:center;
    }
  }

  &-complete {
    margin-top:30px;
    height:457px;
    border-top:2px solid $line-dark;
    border-bottom:1px solid $line-dark;

    &-title {
      position:relative;
      padding-top:257px;
      text-align:center;
      color:$dark;
      font-size:24px;
      font-weight:bold;

      &:after{
        content:"";
        display:block;
        width:139px;
        height:102px;

        position:absolute;
        top:120px;
        left:50%;
        margin-left:-69px;

        background:url(../images/icon_join_complete.png) no-repeat;

      }

      &.mediation:after{
        background-position:0 -110px;
      }

      &.company:after{
        background-position:0 -220px;
      }

      &.premium:after{
        background-position:0 -330px;
      }

    }

    &-msg {
      margin-top:20px;
      line-height:1.4;
      text-align:center;
      color:$dark;
      font-size:16px;
    }

  }

}

.step{

  &-list{
    @include size(1000, 79);
    @include clear();
    background:url(../images/bg_step.png) no-repeat;

    // override each step
    &.step1{
      background-position:0 0px;
      .first {
        .step {
          &-mark, &-title {
            color: $white;
          }
        }
      }
    }

    &.step2{
      background-position:0 -80px;
      .second {
        .step {
          &-mark, &-title {
            color: $white;
          }
        }
      }
    }

    &.step3{
      background-position:0 -161px;
      .third {
        .step {
          &-mark, &-title {
            color: $white;
          }
        }
      }
    }
  }

  &-item{
    float:left;
    margin-top:20px;

    &.first{
      margin-left:26px;
      width:365px;
    }
    &.second{
      width:322px;
    }
    &.third{
      width:267px;
    }
  }

  &-mark{
    @include font(13, normal, $main-blue);
  }

  &-title{
    @include font(18, bold, $dark);
    margin-top:3px;
  }

}

.step-list.premium {
  background:url(../images/bg_step_premium.png) no-repeat;

  // override each step
  &.step1{
    background-position:0 0px;
    .first {
      .step {
        &-mark, &-title {
          color: $white;
        }
      }
    }
  }

  &.step2{
    background-position:0 -79px;
    .second {
      .step {
        &-mark, &-title {
          color: $white;
        }
      }
    }
  }

  &.step3{
    background-position:0 -158px;
    .third {
      .step {
        &-mark, &-title {
          color: $white;
        }
      }
    }
  }

  &.step4{
    background-position:0 -237px;
    .fourth {
      .step {
        &-mark, &-title {
          color: $white;
        }
      }
    }
  }

  .step-item{

    &.first{
      margin-left:26px;
      width:270px;
    }
    &.second{
      width:250px;
    }
    &.third{
      width:235px;
    }
    &.fourth{
      margin-top:13px;
    }
  }

  .step-title{
    @include font(14, bold, $dark);
    margin-top:3px;
  }
}
