@import "variables";
@import "mixins";

.sort {

	&-section {
		@include clear();

		&-top {
			background:$sort-top;
		}

		&-bottom {
			background:$sort-bottom;
		}

	}

	&-option {

		&-other {
			padding:5px 0;
			width:230px;

			.icon-pin {
				margin-right:5px;
				padding-left:50px;
				text-align:left;
				color:$gray-blue;
				background:$btn-gray url(../images/icon_pin.png) no-repeat 32px 50%;
			}

			.icon-subway {
				padding-left:45px;
				text-align:left;
				color:$gray-blue;
				background:$btn-gray url(../images/icon_subway.png) no-repeat 25px 50%;
			}
		}

		&-more {
			width:765px;
		}

		&-tag {
			@include clear();
			width:100%;
			border-top:1px solid $btn-gray;

			&-manage {
				float:left;
				width:88px;
			}

			&-list {
				float:left;
				padding:4px 15px 0;
				width:830px;
				overflow:hidden;
			}

			&-function {
				float:right;
			}

			&-item {
				float:left;
				margin-right:15px;
				line-height:30px;
				color:$white;
				font-size:12px;
			}

			&-text {
				text-decoration:underline;
			}

		}

		&-btn {

			&-save,
			&-load {
				float:left;
				padding:0;
				width:44px;
				height:39px;
				text-indent:-9999px;
				border:0;
			}
			&-save {
				border-right:1px solid $btn-gray;
				background:$sort-bottom url(../images/icon_list_save.png) no-repeat 50% 50%;
			}

			&-load {
				background:$sort-bottom url(../images/icon_list_load.png) no-repeat 50% 50%;
			}

			&-refresh,
			&-alltag {
				float:left;
				padding:0;
				width:25px;
				height:39px;
				text-indent:-9999px;
				border:0;
			}
			&-refresh {
				background:url(../images/icon_refresh.png) no-repeat 50% 50%;
			}

			&-alltag {
				background:url(../images/icon_arrow_down_white02.png) no-repeat 50% 50%;
			}

			&-del {
				display:inline-block;
				margin-left:3px;
				width:11px;
				height:11px;
				border:0;
				text-indent:-9999px;
				background:url(../images/bg_btn_del.png) no-repeat;
				vertical-align:middle;
			}

		}

	}

	&-menu {

		&-item {
			position:relative;
			float:left;

			&:after {
				content:"";
				position:absolute;
				top:16px;
				left:0;
				width:1px;
				height:8px;
				background:$btn-gray;
			}

			&:first-child:after,
			&.detail:after {
				display:none;
			}

			&.on {

				&:after {
					display:none;
				}

				.sort-menu-btn {
					background:$main-yellow;

					&:after {
						content:"\25B4";
					}
				}

				.sort-menu-sub {
					display:block;
				}
			}

		}

		&-btn {
			padding-left:12px;
			width:95px;
			height:39px;
			line-height:39px;
			border:none;
			font-weight:bold;
			background:none;
			color:$white;

			&:after {
				content:"\25BE";
				display:inline;
				margin-left:5px;

			}

			&.detail {
				width:100px;
				background:$sort-bottom;
			}

		}

		&-sub {
			display:none;
			position:absolute;
			top:39px;
			left:0;
			padding:10px;
			min-width:160px;
			border:1px solid $main-yellow;
			background:$white;
			z-index:10;

			&.on {
				display:block;
			}

			&.menu-left {
				left:0;
			}

			&.menu-right {
				left:auto;
				right:0;
			}

			&.from {

				.sort-input.from {
					border:2px solid $main-yellow;
				}

				.sort-menu-sub-list.from {
					display:block;
				}

			}

			&.to {

				.sort-input.to {
					border:2px solid $main-yellow;
				}

				.sort-menu-sub-list.to {
					display:block;
				}

			}

			&-input {
				@include clear();
				margin-bottom:10px;
			}

			&-list {

				&.from {
					display:none;
					text-align:left;
				}

				&.to {
					display:none;
					text-align:right;
				}
			}

			&-item {
				@include clear();
				margin-top:8px;

				&:first-child {
					margin-top:0;
				}

				.check-label-text {
					font-weight:bold;

					&.on {
						color:$main-yellow;
						border-bottom:1px solid $main-yellow;
					}

					&.type-icon {
						position:relative;
						margin-left:27px;

						&:after {
							content:"";
							position:absolute;
							top:-2px;
							left:-27px;
							width:19px;
							height:19px;
							background:url(../images/icon_item_type.png) no-repeat;
						}

						&.all:after {
							background-position:0 0;
						}

						&.yellow:after {
							background-position:0 -22px;
						}

						&.blue:after {
							background-position:0 -44px;
						}

						&.purple:after {
							background-position:0 -67px;
						}

						&.gray:after {
							background-position:0 -89px;
						}

						&.orange:after {
							background-position:0 -111px;
						}

						&.pink:after {
							background-position:0 -134px;
						}

						&.green:after {
							background-position:0 -156px;
						}

						&.red:after {
							background-position:0 -178px;
						}
					}
				}
			}

			&-btn {
				display:inline;
				padding:0;
				border:0;
				background:none;
				font-weight:bold;

				&.on {
					color:$main-yellow;
					border-bottom:1px solid $main-yellow;
				}
			}

		}
	}

	&-input {
		box-sizing:borer-box;
		padding:0 5px;
		width:75px;
		height:27px;
		border:1px solid $form-gray;

		&-wrap {
			float:left;
			position:relative;
		}

		&-label {
			position:absolute;
			top:5px;
			left:5px;
			color:$form-gray;
		}

		&-div {
			float:left;
			width:10px;
			text-align:center;
			line-height:27px;
		}

	}

	&-result {

		&-title {
			position:relative;
			float:left;
			padding-left:30px;
			width:58px;
			height:40px;
			background:$sort-bottom-dark;

			&-text {
				line-height:40px;
				color:$white;
			}
		}

		&-list {
			float:left;
			padding:0 15px;
			width:882px;
		}

		&-item {
			line-height:40px;
			color:$white;
			overflow:hidden;
		}

		&-btn {

			&-up,
			&-down {
				position:absolute;
				left:15px;
				padding:0;
				width:11px;
				height:8px;
				text-indent:-9999px;
				border:0;
			}

			&-up {
				top:12px;
				background:url(../images/icon_arrow_up_white.png) no-repeat 50% 50%;
			}

			&-down {
				top:22px;
				background:url(../images/icon_arrow_down_white.png) no-repeat 50% 50%;
			}
		}

	}

}

.list {

	&-top {
		@include clear();
		position:relative;
	}

	&-amount {
		margin-bottom:10px;
		color:$dark-gray;
		font-weight:bold;
	}

	&-sort {
		position:absolute;
		right:0;
		bottom:0;

		&-check {
			margin-top:9px;
		}
	}

	&-btn {

		&-compare,
		&-unit {
			float:left;
			margin-right:6px;
			padding:0;
			padding-left:27px;
			width:88px;
			height:27px;
			border:0;
			color:$white;
			text-align:left;
		}
		&-compare {
			background:$main-blue url(../images/icon_compare.png) no-repeat 10px 50%;
		}

		&-unit {
			background:$main-blue url(../images/icon_unit.png) no-repeat 10px 50%;
		}
	}

}